[2019-03-06 07:43] Cannonb4ll opened #1 "[Constructor error] Fatal error when using package"
First off; looks pretty awesome. I wanted to give it a run in my application (which has a lot of mailables), but straight away I get an error when I visit /maileclipse:

[code]

The constructor of this class has 3 arguments available:

[code]

I would debug it myself and PR it if I had the time. Still thanks for such a great package 👍

[2019-03-06 13:00] biwerr commented on #1
Where does the MailClass come from? Seems like a Class that is created by you, Can't find them in Laravel default Package....

[2019-03-06 13:01] Cannonb4ll commented on #1
MailClass is the name I changed because of security of my application.

Lets take another example to be more clear;

[code]

[2019-03-06 13:29] biwerr commented on #1
Ok, my fault. Did not recognize that your expample shows a mailable Class 🤦‍♂️

In my App, i have similar use cases with Mailables, where an user or order is passed as Parameter to the Constructor or the Mailable.

[2019-03-06 13:30] Cannonb4ll commented on #1
I'll install it in a second again to debug it somewhat further. (I do not have really that much of complicated mailable classes but it seems to get stuck there)

[2019-03-06 13:35] Cannonb4ll commented on #1
I think I know what is going wrong.

Just installed it again, and went to line 548 in the mailEclipse.php class. I saw this piece of code:

[code]

And my mailable classes actually accept some constructor options that are not passed in in this piece of code. Thats why it is failing.

Is this ment to be installed in a new Laravel installation, or could it also be used in a already-existing applicat

[2019-03-06 13:36] Qoraiche commented on #1
@Cannonb4ll Thanks for opening the first issue!
I would be thankful if you share the mailable class that causes the issue.

[2019-03-06 13:38] Cannonb4ll commented on #1
Sure @Qoraiche:

[code]

[2019-03-06 14:10] Cannonb4ll commented on #1
Yes, I can confirm its because there are no variables passed to the constructor.

I would try to read out which types are passed in the constructor and pass them. In case of a Model you could actually do for example `new User` or even `User::first()` to get default scaffolding data in the constructors.

[2019-03-06 14:11] Qoraiche commented on #1
@fridzema @Cannonb4ll yes thank you, I'm working now to fix this issue.

[2019-03-06 14:46] biwerr commented on #1
Maybe an option is to define an Interface that should be implemented by the mailable class that is editable. So the developer can decide which data should be delivered to create an instance...

**Interfance**
[code]
**Mailable:**
[code]
**mailEclipse.php**
[code]

[2019-03-06 23:18] Qoraiche commented on #1
@Cannonb4ll, @biwerr, @fridzema I think i fix the error, check out this commit [536bf7e](https://github.com/Qoraiche/laravel-mail-editor/commit/55c1ba2d89966f9b733c7fe7296438c493b4df68), can you please confirm with your mailables list?
Thanks again.

[2019-03-07 07:30] Cannonb4ll commented on #1
@Qoraiche

Did you want me to install it as 'dev-master' because I noticed you did not release a new version?

Anyhow, I did that, we got a little bit further now, I am now getting this error:

[code]

[code]

This is because I have a mailable class that accepts a string too.  Example:

[code]

[2019-03-07 08:42] fridzema commented on #1
Hmmm the error is gone, but i think this package can't work for me easily.
This example trows `Trying to get property 'project_code' of non-object`:
[code]
If i surround all those in `optional()` the error is gone but i get a Model not found exception for the probably the next mailable that needs to be edited this way.

I think if i edit all mailables it should work, but don't have the time to do

[2019-03-07 10:22] fridzema opened #2 "Route closure"
` LogicException  : Unable to prepare route [maileclipse] for serialization. Uses Closure.`

I think no further explanation is needed;)

[2019-03-07 12:59] saleem-hadad opened #3 "What an awesome package!"
Thank you for developing such a great package, I'll try to contribute on some features in the next upcoming days
Also, regarding the docs you might consider using [LaRecipe](https://github.com/saleem-hadad/larecipe) to write your docs

[2019-03-07 13:15] Qoraiche commented on #3
@saleem-hadad Thanks bro! your contributions are welcome.

[2019-03-07 15:18] Qoraiche commented on #2
Thanks for reporting this,

This error happens because PHP is not able to serialize Closures (when using `route:cache` command in laravel). in the next update i will replace the route closure to a controller based route.

https://github.com/Qoraiche/laravel-mail-editor/blob/4be5aa9fd79740cf029a5654b714e30aa36262db/src/Http/routes.php#L5

[2019-03-07 17:31] #3 closed

[2019-03-07 17:35] Qoraiche commented on #2
route closure replaced with controller-based route (check out commit [590a07d](https://github.com/Qoraiche/laravel-mail-editor/commit/590a07d71b77ed3f374453bf5b9e42bfedc1b2a9))

[2019-03-07 17:35] #2 closed

[2019-03-09 01:28] Qoraiche commented on #1
Check out this commit [fdabb35](https://github.com/Qoraiche/laravel-mail-editor/commit/fdabb35a3ea15c4f801575b16944331947357121).

1. The package will look now for the equivalent factory in the mailable constructor and check if the dependency is an eloquent model.
2. Resolve all other non-eloquent objects.
3. Editor live preview (for markdown) will output no object variables in the following forma

[2019-03-10 12:58] matthewsuan opened #4 "Class 'string' not found"
Thanks for a really neat package.

I am running 5.8 and it seems its not compatible with this version yet?

[code]

it seems this would not work if we have non object parameters in an existing mailable constructor?

[2019-03-10 14:08] Qoraiche commented on #4
Thank you,

This issue is already mentioned in the [1st issue](https://github.com/Qoraiche/laravel-mail-editor/issues/1).

[2019-03-11 06:49] matthewsuan commented on #4
@Qoraiche v1.1.0-alpha fixed it. ty

[2019-03-11 06:49] #4 closed

[2019-03-13 18:07] dily86 opened #5 "Views and custom data"
Thank you for this excellent package.  I installed it in a project using laravel 5.7 however when I do php artisan vendor:publish I don't have the views.  But I absolutely need to customize them.  Another problem is that the variables do not appear when I edit the template of an email.
Thank you in advance for your help.

[2019-03-13 21:45] Qoraiche commented on #5
Hi @dily86,

Just to let you know that `vendor:publish` will just publish the public application assets (js, css, etc..) and the configuration file, the email templates will not be published because you can edit them directly through the application (editor). can you please share your mailable class?

[2019-03-14 09:07] dily86 commented on #5
Hi,
This is my mailable class:
`<?php

namespace App\Mail;

use Illuminate\Bus\Queueable;
use Illuminate\Mail\Mailable;
use Illuminate\Queue\SerializesModels;
use Illuminate\Contracts\Queue\ShouldQueue;

class Test extends Mailable
{
    use Queueable, SerializesModels;

    publi $username = 'Anne';

    /**
     * Create a new message instance.
     *
     * @return void
     */
    public funct

[2019-03-14 11:50] Qoraiche commented on #5
Currently, the editor preview will output a simple variable as follows: `{{ varname }}`, in your case: `{{ username }}`. in case you are using Models, the package will look for the equivalent factory in the mailable constructor and check if the dependency is an eloquent model.

[2019-03-15 00:04] Qoraiche commented on #5
@dily86 if you still have more questions, you can simply reopen this issue.

Thank you!

[2019-03-15 00:04] #5 closed

[2019-03-25 07:53] MujahidAbbas opened #6 "Uncaught SyntaxError: Invalid hexadecimal escape sequence"
Hi there, thank u for this awesome package!

Creating template first time is hassle-free. After attaching mailable to the template, when I view the mailable, the editor is not working. In the console, I am getting this error:
`Uncaught SyntaxError: Invalid hexadecimal escape sequence`

Can you please help me?

![Uncaught SyntaxError- Invalid hexadecimal escape sequence](https://user-images.githubu

[2019-03-26 13:12] Cannonb4ll opened #7 "Missing 1 type from the __constructor injection (array)"
I've used this package a while ago, you've made some fixes but I am still running into one:

[code]

[code]

[2019-03-26 13:18] Qoraiche commented on #6
Hi @MujahidAbbas, Thanks for reporting this,

Please update to the latest version (currently v1.1.1) and tell me if it's working.

[2019-03-26 14:52] Qoraiche commented on #7
Hi @Cannonb4ll, thanks for reporting this,

The new version (currently v1.1.2) may fix the constructor problem, but still not able to show array data on mailable previews.

[2019-03-26 17:54] MujahidAbbas commented on #6
Yes, thank u soo much... the issue is fixed now!!

[2019-03-26 17:54] #6 closed

[2019-03-27 11:32] salhdev opened #8 "Everytime I visit the 'maileclipse/mailables' it creates a bunch of fake users"
Hi,
Everytime I visit the 'maileclipse/mailables' path it creates a bunch of fake users.
Thanks for sharing this great package !

[2019-03-27 11:44] Qoraiche commented on #8
Hi @salhdev,
Can you please explain with more details or with a screenshot!

[2019-03-27 14:38] Qoraiche commented on #7
@Cannonb4ll can you please confirm that is working? so I can close the ticket

[2019-03-27 14:39] Cannonb4ll commented on #7
Ah yes sorry, it is solved this way 👍

[2019-03-27 14:39] #7 closed

[2019-03-27 14:48] salhdev commented on #8
Hi,
There is not much I can add to this.
All I did is I created a Newsletter with a User  :

[code]
And now everytime I visit the path http://myhost.test/maileclipse/mailables I find that my user table has grown with random users. And I delete the users and refresh the page and get new ones every single time.
When I click on preview, it will generate another set of users :(
I have updated to the l

[2019-03-27 15:18] salhdev commented on #8
Hi again,
After taking a quick view at the code I noticed that the function handleMailableViewDataArgs in mailEclipse Class generates data without testing whether the table has data or not, so it will generate every time the function is called.

[2019-03-27 22:12] Qoraiche commented on #8
Hi @salhdev, Thanks for report this!
I made some changes lately but I didn't realize that this is happen in the database, please check out the new version (currently **v1.1.3**, commit https://github.com/Qoraiche/laravel-mail-editor/commit/97a764aea8535fd0ec294a240f0124882a9d8399) it will fix your problem.

Thanks again!

[2019-03-27 22:12] #8 closed

[2019-03-28 15:52] keatwei opened #9 "Request failed with status code 500 -Update Templates"
Not able to update Templates. shown error 500
Using homestead

[2019-03-28 15:50:19] local.ERROR: : failed to open stream: Protocol error {"exception":"[object] (ErrorException(code: 0): : failed to open stream: Protocol error at /home/vagrant/VM/Projects/Web/ding-web/vendor/qoraiche/laravel-mail-editor/src/mailEclipse.php:360)
[stacktrace]
#0 [internal function]: Illuminate\\Foundation\\Bootstrap

[2019-03-28 16:50] salhdev commented on #5
Hi, I think there should be a vendor:publish to copy all view into the resources/views/vendor/maileclipse in order to allow for customisation or just mention it in the Readme!
I have copied it manually and all my changes take immediate effect.

[2019-03-28 17:19] salhdev opened #10 "Could there be a design flaw in the way files are stored ?"
Hi again,
The templates are stored in :
vendor/qoraiche/laravel-mail-editor/resources/views/templates/
where vendor/* is ignored in git => So the result of that is that all your dev and changes in the templates will not be taken in the testing nor production environment !
And also template data is stored in a data table which is also not taken in the git.
Why not create a Templates directory withi

[2019-03-28 19:58] Qoraiche commented on #10
Hi @salhdev,
Thanks for reporting this I will take this into consideration in the next updates,

Thanks again.

[2019-03-28 20:15] Qoraiche commented on #5
@dily86 i don't understand, can you explain more?

[2019-03-28 21:26] Qoraiche commented on #9
Hi @keatwei, Thanks for reporting this!

I've fixed this issue, can you please update to the latest release (currently **v1.1.4**) - Checkout fix commit https://github.com/Qoraiche/laravel-mail-editor/commit/2a2db2b058f99aba1cd0801f51fb63ae26dd896b.

[2019-03-28 21:26] #9 closed

[2019-03-28 23:21] salhdev commented on #5
Hi @Qoraiche and @dily86

All you need to do is replace the following line in the serviceprovider boot method :
`        $this->loadViewsFrom(__DIR__.'/../resources/views', 'maileclipse'); `
by
[code]
And then when you do a :
`php artisan vendor:publish --provider="qoraiche\mailEclipse\mailEclipseServiceProvider" --tag=views`

It will copy the views in the resources/views/vendor/maileclipse direct

[2019-03-28 23:26] Qoraiche commented on #5
@salhdev Please pull request this changes and i will review it

Thanks,

[2019-03-28 23:43] griffins commented on #10
Exactly what i was wondering

[2019-03-29 00:00] griffins commented on #10
Just found out about this package today from laravel news. I love it.
My only problem is the need to modify my database schema. I would love if the package could maintain its meta data in a json file instead of the db. Am willing to make a pr for the same

[2019-03-29 00:05] griffins commented on #10
Am doing a PR for this issue, what do you think about the views existed in the default namespace instead of the maileclipse one?

[2019-03-29 01:41] griffins commented on #10
Hi i did a PR for the first task.

[2019-03-29 03:40] keatwei commented on #10
after i do composer update, my existing template is not accessible

[2019-03-29 03:41] griffins commented on #10
Its because of where the files are being stored. sorry about that. @keatwei Once we get my PR merged that would be fixed

[2019-03-29 03:43] griffins commented on #10
Also if you drop your database you will loose them

[2019-03-29 03:43] keatwei commented on #10
@griffins ya.. if possible can put in resources/view/emails would be great
thx for your effort and package

[2019-03-29 03:44] griffins commented on #10
I already did that. Actually you can customize the folder you want

[2019-03-29 06:01] eNzyOfficial opened #12 "Raw HTML"
Apologies if I've overlooked this feature, but it would be nice to be able to see the raw HTML rather than just the WYSIWYG version, I'd like to use this as a way for marketing to make minor changes to templates without having to go through version control and this looks like it would work great, but it seems like it's tied to using the templates. Is this something you would consider adding? I ima

[2019-03-29 06:23] griffins commented on #10
For the second task there is PR https://github.com/Qoraiche/laravel-mail-editor/pull/13 which should fix  known issues preventing the package from being used in production

[2019-03-29 07:32] lukylook opened #14 "[Suggestion] not limited to mail also add custom notification"
hay
nice project!

but why limited only for emails ?
you could add custom notification (like text-plan as sms)
thank you

[2019-03-29 11:03] Qoraiche commented on #12
Hi @eNzyOfficial I've added a **view source code** button to the WYSIWYG editor, please update to the new version (currectly **v1.1.5**) - commit https://github.com/Qoraiche/laravel-mail-editor/commit/ea5af6cb9b9866841ce73b6d09d541d287a1328f

[2019-03-29 11:04] #12 closed

[2019-03-29 11:06] Qoraiche commented on #14
Hi @lukylook,

Can you please explain this feature more?

[2019-03-29 12:10] Qoraiche commented on #10
@griffins thanks for your PRs I will take a look at it tomorrow when I come back home

Thanks again.

[2019-03-29 13:21] gurinder-xyrintech opened #15 "Trying to get property 'token' of non-object"
i got error Trying to get property 'token' of non-object"
when i pass object though construct is there an alternative solution to solve this

`protected $token, $user_name;

 public function __construct($user_activation)
    {
        $this->token = $user_activation->token;
        $this->user_name = $user_activation->user->name;
    }`

[2019-03-29 13:31] IvalinV commented on #15
Can you provide more information about how and when you got this issue ?

[2019-03-29 16:05] gurinder-xyrintech commented on #15
when i run locahost/maileclipse
if i remove those lines it runs smoothly

[2019-03-29 17:14] lstables opened #16 "Trying to get property of non-object"
Every mailable I have as different properties and params added to it, but I keep getting the above error:

[code]

[2019-03-29 17:15] lstables commented on #16
Is there a way to overcome/fix this, so that the mailables can be edited?

[2019-03-29 18:48] realrashid commented on #14
Hey @lukylook ,

If i'm not wrong i think you are talking about this https://youtu.be/QFgEGNBY3FI?t=235.

[2019-03-29 19:50] Qoraiche commented on #16
Hi @lstables thanks for reporting this,

This issue is already mentioned in the #15 issue, i will fix this problem very soon.

Thanks again

[2019-03-29 19:51] Qoraiche commented on #15
Hi, @gurinder-xyrintech thanks for reporting this,

Please be patient I will fix this problem in the next updates.

Thanks again,

[2019-03-29 20:22] lstables commented on #16
Great and ETA on that fix?

[2019-03-29 23:43] Akhibemudu opened #17 "Unknown Column name field"
@Qoraiche  Thanks for this wonderful package, Is there a way to use a different table instead of the default users table, currently am not sure one can use the package without having users table, I tried it and I got unknown field name in users table. Thank you.

[2019-03-29 23:57] Qoraiche commented on #17
I'm not sure what are you dealing with exactly, but the package will not restrict you to do anything with your application tables.
Can you share your mailable, please?

[2019-03-30 00:38] Akhibemudu commented on #17
@Qoraiche at first, when I installed the package, I couldn't access the maileclipse dashboard because of unknown field "name" in users table, however, I fixed this by creating a new field "name" in the users table.
So my question is "if the package can be used without having users table" . Secondly, am finding it difficult to use foreach loop with the package, and lastly, is it save editing the vi

[2019-03-31 14:43] lstables commented on #15
Any ETA on this fix?

[2019-04-01 04:52] Dinesh-Iksula opened #18 "Custom variables and loops"
This is awesome package.  Very simple and usful.

I am implementing it in one of my prejct but then I want to show the list of document links which will be dynamic.

I can see, I can use custom variables like { first_name } which is pretty simple text but what if I want to show dynamic image(s) or the list of some dynamic data like list of document links or any address or data of mutilple users?

[2019-04-01 05:45] kertul opened #19 "Can I set database connection ?"

[2019-04-01 06:25] emil-nasso opened #20 "Database storage for templates"
Like the looks of this package so far! Great potential. :)

An idea that I just wanted to dump here.

It would be really cool if you could store the templates in the database and if this package never modified any files.

Using docker, source control (git) or most kinds of deploy kind of makes it a big no-no to change php-files (anything outside of the storage folder really).

Would that be possib

[2019-04-01 12:19] Qoraiche commented on #19
Hi @kertul, I don't understand your question, you want to set a database connection for your laravel application?

[2019-04-01 12:57] dstollie commented on #20
This issue is related to the discussion I started in this PR: https://github.com/Qoraiche/laravel-mail-editor/pull/13

[2019-04-01 20:21] Qoraiche commented on #20
@dstollie yes it's but possible but I'm still collecting feedbacks to decide what I need to do in the next updates.

[2019-04-01 20:24] Qoraiche commented on #19
Can you explain more?

[2019-04-01 22:26] mauriziocalarese commented on #15
Waiting for the update, this issue blocks me too.

ps. anyway thanks for the package ;)

[2019-04-02 16:28] ChiselspeedTuning commented on #17
Is this related to the `Illegal string offset 'name'` issue?

[2019-04-02 19:26] likeadeckofcards opened #21 "Change Database for setup"
Hello @Qoraiche,

This package looks great. I did notice one issue. When it runs through each factory, it is creating and storing the items in the application's database and not a testing location like a sqlite DB or different database.

This might be what @kertul is referring to in #19.

Thank you,
Michael D.

[2019-04-02 20:08] Qoraiche commented on #21
Hello @infernobass7,

I think we have this discussed this problem before in the https://github.com/Qoraiche/laravel-mail-editor/issues/8 issue and I fixed it in the **v1.1.3** version by rolling back database each time a factory runs (check out this commit https://github.com/Qoraiche/laravel-mail-editor/commit/97a764aea8535fd0ec294a240f0124882a9d8399).

[2019-04-03 12:04] infernobass7 commented on #21
Hello @Qoraiche I am using v1.1.5 and the database is still persisting from the tests that run each time you hit the maileclipse dashboard.

[2019-04-03 12:15] Qoraiche commented on #8
@salhdev can you please confirm that the problem is fixed?

[2019-04-03 15:34] Qoraiche commented on #21
@infernobass7 weird, did you try to clear your database and try again? also what DB connection are you using?

[2019-04-04 12:19] lstables commented on #15
@Qoraiche any update then this issue is likely to be fixed please :)

[2019-04-05 13:19] shahzeyb opened #22 "adding auth middleware"
When i add auth middleware after that if i am logged in and try to access the maileclipse then it redirects me to the dashboard instead of maileclpise url. On the other side if i am not logged in then it will redirect me to the login page which is expected behaviour

[2019-04-05 14:03] cord opened #23 "Novapackage"
good stuff!

A laravel nova package would be great!

[2019-04-08 00:03] greggh commented on #23
This is exactly what I am looking for. Something that does all of this and integrates with Nova!

[2019-04-08 13:12] shahzeyb commented on #22
issue resolved i have to add web middleware before using auth middleware in maileclipse.php config file

[2019-04-08 13:13] shahzeyb commented on #22
issue resolved i have to add web middleware before using auth middleware in maileclipse.php config file

[2019-04-08 13:13] #22 closed

[2019-04-10 12:15] lstables commented on #16
Hey @Qoraiche Do you have plans to get this fixed, if so what sort of time frame are we looking at? :)

[2019-04-11 15:53] dbfx commented on #10
Any word on a plan to make this easy to migrate into production?

[2019-04-11 18:14] Qoraiche commented on #10
Hello @dbfx, @salhdev

Please update to the latest version (currently 1.1.7), now you can override templates views using the following publishing command:

`php artisan vendor:publish --tag=maileclipse.templates`

Also, there is no need for database migration, all templates metadata will be stored in a JSON file.

hope this helps,
Thanks

[2019-04-11 18:16] dbfx commented on #10
Great thank you! Sent a contribution to the project from Snapt!

[2019-04-11 20:11] Qoraiche commented on #10
@dbfx thank you so much

[2019-04-11 20:30] Qoraiche commented on #20
Hello @emil-nasso

https://github.com/Qoraiche/laravel-mail-editor/issues/10#issuecomment-482238082

[2019-04-11 20:33] #19 closed

[2019-04-12 10:44] jcsoriano opened #24 "Can't locate path for templates"
Hi!

First of all, thanks for the wonderful package! So I'm following the installation instructions, and hit an error on the second step, right after I run this:

[code]

I get the following error:
<img width="767" alt="image" src="https://user-images.githubusercontent.com/5937317/56031724-d09a8600-5d52-11e9-8ed7-4ae98fd19cba.png">

I checked the source code here in Github and it does indeed seems

[2019-04-12 12:31] Qoraiche commented on #24
Hello @jcsoriano,

Please update to the latest version and try again.

[2019-04-12 14:27] akiyamaSM commented on #15
How can I reproduce the error?

[2019-04-12 17:13] #24 closed

[2019-04-24 22:58] #10 closed

[2019-04-24 22:59] #20 closed

[2019-05-03 14:24] infernobass7 commented on #21
@Qoraiche we are using mysql database and after clearing out the new models from the database I still get new models created even with the newest version of this package.

[2019-05-03 18:45] Qoraiche commented on #23
@cord thank you for your suggestion, I will try my best to make this happen.

[2019-05-05 16:54] elephantux commented on #15
I still got same error. Which version of package install to resolve it?

[2019-05-06 13:16] infernobass7 commented on #21
@Qoraiche Please reopen.

[2019-05-06 13:42] Qoraiche commented on #21
Can you share your mailable please? also what models are you using?

[2019-05-06 13:45] infernobass7 commented on #21
[code]

[2019-05-06 17:38] #15 closed

[2019-05-06 17:38] #16 closed

[2019-05-06 17:48] Qoraiche commented on #15
Hello Everyone,

Please update to the latest version (currently **v1.1.10**), Checkout PR https://github.com/Qoraiche/laravel-mail-editor/pull/28.

[2019-05-06 17:49] Qoraiche commented on #16
Hello Everyone,

Please update to the latest version (currently **v1.1.10**), Checkout PR https://github.com/Qoraiche/laravel-mail-editor/pull/28.

[2019-05-06 23:30] Qoraiche commented on #17
@Akhibemudu please install the latest version and try again,

let me know if your problem fixed or not.

[2019-05-07 08:15] lstables opened #30 "Still getting the following errors..."
I still get errors like this:

<img width="1414" alt="Screenshot 2019-05-07 at 09 14 23" src="https://user-images.githubusercontent.com/1168291/57284182-8fbf3400-70a8-11e9-8183-d7a0c8b17ad2.png">

And this:

<img width="1083" alt="Screenshot 2019-05-07 at 09 14 38" src="https://user-images.githubusercontent.com/1168291/57284198-951c7e80-70a8-11e9-8a3f-59954addc550.png">

[2019-05-07 09:47] ReeceM commented on #30
Hi @lstables, that is caused by the fact that the mocker library doesn't account for arrays, that is something I new would be a possibility but didn't get my head around yet.

I will be having a look at the way of adding the ability to have an array, as just type hinting will not allow it to be multidimensional.

As with regards your second error. If you make the `data` attribute on the Mailable `

[2019-05-07 09:48] lstables commented on #30
Awesome, thanks for the quick response and I'll look forward to the patch release ;)

[2019-05-08 21:58] ReeceM commented on #30
@lstables please run a `composer update` to get the mocker class to update to [v1.1.1](https://github.com/ReeceM/mocker/releases/tag/v1.1.1).

[2019-05-08 23:50] Qoraiche commented on #30
Thanks for the quick fix @ReeceM

[2019-05-09 06:07] lstables commented on #30
Awesome thanks @ReeceM and @Qoraiche for this awesome package and fixes. All working just fine now.

[2019-05-09 06:07] #30 closed

[2019-05-09 10:05] ChiselspeedTuning opened #31 "Cannot use object of type ReeceM\\Mocker\\Mocked as array"
I have created a mailable and then all of sudden on the /mailables route I get this error

`Cannot use object of type ReeceM\\Mocker\\Mocked as array `

[2019-05-09 10:06] #31 closed

[2019-05-09 10:06] ChiselspeedTuning commented on #31
My bad, it was nothing related to this package

[2019-05-10 16:48] #17 closed

[2019-05-13 04:47] Qoraiche opened #32 ""Error: Request failed with status code 500" when updating template details"
PR ref: https://github.com/Qoraiche/laravel-mail-editor/pull/13

To reproduce:
- create template
- edit template details (title, description)
- submit changes

UI error:
`Error: Request failed with status code 500`

XHR response message:
`message | Method Illuminate\Support\Collection::add does not exist.`

file | qoraiche/mailEclipse/src/mailEclipse.php
-- | --
line | 125
class | Illuminate\Suppo

[2019-05-13 09:24] griffins commented on #32
Hi, just received this notification, on it.

[2019-05-13 09:40] griffins commented on #32
check #33

[2019-05-15 18:12] #32 closed

[2019-05-15 21:36] Qoraiche commented on #18
Hello @Dinesh-Iksula, first sorry for the late reply,

I understand that maileclipse still not smart enough to show dynamic data, but since we are using a Built-in **Model Factory**, you can print and loop through fake model data, for example:

Mailable:
[code]

Mail Editor:

[code]

Output:

[code]

[2019-05-16 00:56] Qoraiche commented on #21
Hello @infernobass7, sorry for the late reply,

Unfortunately, I can't reproduce your issue, looks like it's a problem with "Lazy" eager loading ` $document->load(['user', 'line_items']);` i will do more tests, and i hope this will be fixed in the next updates.

Thanks.

[2019-05-17 14:21] ReeceM commented on #31
@ChiselspeedTuning, I see you had an issue related to the Mocker package, also you opened and closed the issue quickly 😄, if you are still having issues you can open an issue on [ReeceM/Mocker](https://github.com/ReeceM/mocker/issues/new/choose) :+1:

[2019-05-21 15:40] Atiladanvi opened #34 "mail_dir config for multiples folders"
I have a app laravel modulated. Each module contains your classes /Mails /Notifications etc. But i can't keep my workflow with mail eclipse because he know only one folder app_path('Mail/'). Is possible implements this for many folders ?

[2019-05-21 17:02] Qoraiche commented on #34
Hello @Atiladanvi,

 I understand your problem but currently, you can only use one Mailable directory, try to copy all your mailables to one folder (eg `App/Mail`).

[2019-05-21 21:57] Atiladanvi commented on #34
Canot be a array|string type to work in mailablesList() method ?

[2019-05-21 22:01] Qoraiche commented on #34
I don't understand, do you get an error? can you elaborate, please?

[2019-05-22 01:23] Atiladanvi commented on #34
I'm not getting an error.  I'm just wondering if it is possible to modify this behavior without breaking much of the core.  I think it could be modified at one point.  In the mailablesList method of the main class

[2019-05-23 00:28] Qoraiche commented on #34
@Atiladanvi If you have an idea to support multiple Mailables directory you can pull request and I will check it out. thanks!

[2019-05-24 05:28] #34 closed

[2019-05-31 15:22] a21ns1g4ts opened #36 "Views are deleted when you cleanup the aplication"
How add views to versioning ?

[2019-05-31 20:52] Qoraiche commented on #36
Hello @Atiladanvi,

Template meta tags are saved to your `App\Mail` directory (**templates.json**) which is not ignored by git by default, if you are using the latest version of maileclipse, templates folder will be generated automatically for you when you create you first template: `resources/views/vendor/maileclipse/templates`, If the opposite, you can publish it with all email templates you 've

[2019-06-03 08:10] elfeffe opened #37 "Error 419 with MarkDown Editor?"
It happens because you are not sending CSRF Token
I fixed it adding it

`                            headers: {'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')},
`

To the AJAX call, so it looks like:

[code]

[2019-06-03 17:56] Qoraiche commented on #37
thanks, can you PR this changes?

[2019-06-04 05:33] Qoraiche commented on #37
Thanks for reporting this, this issue fixed in the latest version.

[2019-06-04 05:33] #37 closed

[2019-06-06 00:03] Atiladanvi commented on #36
@Qoraiche Do you think it's possible to change the code to save the templates in a place based on the namespace of the Email class without breaking the public api?

[2019-06-07 18:52] Qoraiche commented on #36
@Atiladanvi nice idea, I will think about it.
thanks!

[2019-06-11 23:13] JasonTheAdams commented on #23
Yeah, we use Nova and I'm not eager to have _another_ admin dash to send folks to. Having this integrated into Nova would be awesome. We'd pay for a package like that!

[2019-06-12 17:19] ffaouzif opened #39 "crud templates and mailables return status 419 response"
I have installed the package it work fine. Except on crud with axios return status response 419.
I have check csrf in axios setting and i found it all is normaly.
i don't know why he didn't arrived to the functions (crud).
any help please.
thank you.

[2019-06-12 17:22] Qoraiche commented on #39
Do you have the **web** middlware in the maileclipse config file?

[2019-06-12 17:25] ffaouzif commented on #39
Yes and i have add auth middlware to
====>
'middlewares' => [
        'web',
        'auth',
    ],

[2019-06-12 17:32] ffaouzif commented on #39
salam khouya yassine
rah jawbtek khouya mafhamtch 3lach ki reja3 status 419
rani chekit csrf
meli khademt ajax f blast axios khedmat mais ma b9atch katraraje3 message
de notification.
merciii khouya

Le mer. 12 juin 2019 à 19:22, Yassine Qoraiche <notifications@github.com> a
écrit :

[2019-06-12 18:19] Qoraiche commented on #39
salam! Are you using the latest version?

[2019-06-12 18:42] ffaouzif commented on #39
yes v1.2.3

[2019-06-12 23:39] vesper8 opened #40 "mailables_dir behaviour is broken, and please let us specify the views folder as well"
I use a "modules" approach to all my laravel projects which means that all of my project-related code lives inside a "modules" folder in the base path

So I changed the mailables_dir to

[code]

Unfortunately this doesn't work correctly. The only file that was sucesfully created in that folder is the templates.json

When I used the UI to add a new Mailable item, since it just runs the built-in `ar

[2019-06-12 23:44] Qoraiche commented on #39
Thanks for reporting this, I will double-check this and get back to get very soon!

[2019-06-13 08:28] ffaouzif commented on #39
Ok bro thank you

Le jeu. 13 juin 2019 à 00:44, Yassine Qoraiche <notifications@github.com> a
écrit :

[2019-06-13 16:57] vesper8 commented on #18
since I expect nearly everyone uses mailables by passing in an eloquent record, I hope some solution is developed to make mocking this easier because right now it's very difficult to 'preview' an email that expects an eloquent record

Laravel has a built-in way of "previewing" mailables and in those cases you can easily retrieve a model from the db and pass it in for previewing purposes, so perhap

[2019-06-13 16:58] Qoraiche commented on #18
@vesper8 can share your mailable and view?

[2019-06-13 17:58] vesper8 commented on #18
sure.. I've already developed a mocking solution, maybe you can use it as an example

This is one of my mailables

[code]

And this is the trait I've added to all my mailables so it auto-mocks the database record when previewing through your UI

[code]

[2019-06-13 18:01] vesper8 opened #41 "[Feature Request] add a 'send test email' to the UI"
It would be very useful if you could add a button for each mailable, in the mailables view, where you can specify an email (or possibly a user id) and have a test sent to that email.

The preview is nice, but you really don't know for sure how an email is going to look until you send an actual test and preview it in Mailtrap or in your email client itself (Gmail for example)

This would be a nice

[2019-06-13 18:44] Qoraiche commented on #41
Nice idea @vesper8, Actually I was working on this feature in my local! i just don't have time to finish it

### Feature:
- Can send a mailable to an email-address
- The given mailable will be sent to the given recipient. Any parameters handed to the __construct method of the mailable class will be automatically passed in.

Stay tuned for updates!
Thanks.

[2019-06-13 19:04] Qoraiche commented on #39
Unfortunately, I can't reproduce this issue, what laravel version are you using?

[2019-06-14 08:03] ffaouzif commented on #39
Laravel 5.6

Le jeu. 13 juin 2019 à 20:04, Yassine Qoraiche <notifications@github.com> a
écrit :

[2019-06-14 16:35] vesper8 commented on #41
that's great to hear!

I always pass a single object to my mailables and that payload is often represented as a json object

It would be cool if in your above test you could paste a json object to be passed to the test mail

this would also be very useful when previewing mailables

for example, and I suspect this is a pattern that many people use. For many of my mailables I reuse the same template

[2019-07-14 14:18] tanthammar opened #44 "Unable to deploy, get forbidden on every route"
I have deployed a development version on Heroku to share with my Team.
I am unable to access any of the Maileclipse routes. Get, 403 Forbidden.

I have uncommented  environment settings
[code]
And I have Route Middleware set to
[code]
Otherwise this is a clean installation of Laravel 5.8 with standarad "make: Auth"
No other packages are installed.
It is working fine on localhost.
I can login/logou

[2019-07-14 15:07] tanthammar commented on #44
resolved.
The setting required 'allowed_environments' to be uncommented and the value 'deployment' was not accepted.
Changing the .env on the live server to 'staging' got me passed this error.

[2019-07-14 15:07] #44 closed

[2019-07-14 15:28] tanthammar opened #45 "class Faker\Factory not found"
- Laravel 5.8.28
- "qoraiche/laravel-mail-editor": "^1.2"

I deployed a test installation on Heroku.
I moved all dev dependencies to required just to make sure they were all installed on the live site.
I am not able to load the maileclipse route,
### Class Faker\Factory not found

I have reinstalled all the packages, dumped-autoload, cleared app cache, even rebuild the server.
This is a clean Lara

[2019-07-14 22:48] Qoraiche commented on #45
Hello @tanthammar, thanks for reporting this,
Can you please share your mailable (WelcomeBookerEN)?

[2019-07-15 07:49] tanthammar commented on #45
Thank you for your reply.
Have you tried deploying to Heroku? Maybe there is something causing this in their environment.
(I did  "bash" into the project on Heroku and manually run composer install, composer dump-autoload, cleared cache etc, just to make sure it was not any auto-deployment from github that didn't execute)
[code]

./resources/views/markdown/en/welcome-booker.blade.php
[code]

[2019-07-18 17:28] tanthammar commented on #45
Solution:
Move "fzaninotto/faker" to the "require" block in composer.json
Add, 'production' to config/maileclipse.allowed_environments array
Run php artisan optimize:clear on your server

[2019-07-18 17:28] #45 closed

[2019-07-21 23:38] paqio opened #46 "Subject edit"
Is there a way to edit the subject?

[2019-07-21 23:47] Qoraiche commented on #46
Currently you can not edit the mailable subject using the maileclipse package, but you still can set the mailable subject in your mailable class (build method), example:

[code]

For more informations checkout laravel [writing mailables](https://laravel.com/docs/5.8/mail#writing-mailables).

[2019-07-21 23:47] #46 closed

[2019-08-08 11:58] nezaboravi commented on #23
Amazing package, and support a feature request for Nova package!

[2019-08-19 17:27] chirumist opened #47 "[Feature Request] Mailables Change Markdown through frontend"
Setup new mailable template or markdown after change then template on edit mailable

[2019-08-20 10:53] Qoraiche commented on #47
Hi @chirumist, I don't understand, can you please elaborate?

[2019-08-20 17:46] chirumist commented on #47
I am create mailable and set Markdown.
after edit mailable markdown not change.

![image](https://user-images.githubusercontent.com/35195295/63370778-841a2380-c3a0-11e9-8653-50ad877f26d4.png)

[2019-08-28 13:25] Qoraiche commented on #47
@chirumist sorry for late, i will record this feedback, I'm gathering all information about what users need and I will implement it in the next coming updates.

[2019-09-02 11:57] lstables opened #48 "REQUEST - Laravel 6 support"
Will or does this package allow for Laravel 6 which I believe is released tomorrow (3rd Sept)

[2019-09-06 18:24] Qoraiche commented on #48
@lstables can you please confirm that it's working on the laravel 6?

[2019-09-06 19:36] lstables commented on #48
At my last check 4 days ago, it didn't.

[2019-09-08 20:13] codepotato commented on #48
I've created a PR to bring the dependencies up to L6 #49

[2019-09-10 20:47] codepotato commented on #48
Just to update here, just updated my PR #50 to work with L6. Fully tested locally and working as expected.

[2019-09-10 21:21] codepotato commented on #48
@Qoraiche can this issue be closed now with the latest release?

[2019-09-10 21:25] Qoraiche commented on #48
@codepotato you right!

[2019-09-10 21:25] #48 closed

[2019-09-22 14:38] #18 closed

[2019-09-23 08:56] MartijnDB opened #52 "Type hints in mailable constructor must be an object"
In my mailable contructor I have a typehint for int and it fails on that:
"Argument 1 passed to App\Mail\XXX::__construct() must be of the type int, object given"

[2019-09-23 09:04] Qoraiche commented on #52
Hello @MartijnDB,

can please share your mailable?

[2019-09-23 09:39] MartijnDB commented on #52
Sure. See the screenshot.
![Screenshot_2019-09-23, 11_39_09](https://user-images.githubusercontent.com/47593731/65415806-c6e37700-ddf6-11e9-8fd5-fd8d9e30e2a8.png)

[2019-09-23 15:47] ReeceM commented on #52
@Qoraiche, and @MartijnDB.

I have had a look at it and initially there isn't a way to account for all the PHP builtin types as the __toString magic method allows for one to react to the `string` type hint.

Things like the `int, bool, float` types need to be accounted for differently.

I have a working patch on my local fork of the repo, I will clean it up and push it and you can test it as a PR

[2019-09-23 15:49] Qoraiche commented on #52
@ReeceM of course, thank you

[2019-09-26 09:12] Yashaswini opened #54 "https://maileclipse.io/ leads to Whoops Error page"
Hi,
I am unable to view your documentation. Is there a different link which I should be looking at?

[2019-09-26 09:14] Qoraiche commented on #54
@Yashaswini thanks for reporting this!

[2019-09-26 09:40] Yashaswini commented on #54
I wanted to try this package. Is there any other link where I can find the details.

[2019-09-26 09:43] indowebdeveloper commented on #54
Facing this issue as well, is there any alternative documentation that maileclipse provide ? :D

[2019-09-26 09:43] Qoraiche commented on #54
Follow the installation instructions here:
https://github.com/Qoraiche/laravel-mail-editor#installation

Maileclipse default path: `yoursite.com/maileclipse`
configuration: `config/maileclipse.php`

Hope this helps.

[2019-09-26 10:19] Yashaswini commented on #54
Thank you so much for your response

[2019-09-26 11:03] Qoraiche commented on #54
@Yashaswini @indowebdeveloper if you guys like my project don't forget to give it a star 👍

[2019-09-28 17:10] ReeceM commented on #52
HI @MartijnDB, release v1.3.2 should have fixed your issue you were experiencing with the mailables. Please do a composer update and reply back if it has fixed it +1

[2019-09-28 18:35] #52 closed

[2019-09-29 09:57] Qoraiche commented on #54
https://maileclipse.io/ up again!

[2019-09-29 09:57] #54 closed

[2019-09-30 11:07] MartijnDB commented on #52
Yes. Works as expected. Thanks.

[2019-10-05 21:33] fbingha commented on #23
Nova here too.

[2019-10-07 20:01] Qoraiche commented on #39
no one confirms this issue and can't reproduce it as well.

[2019-10-07 20:01] #39 closed

[2019-10-14 12:03] adriancampanaro opened #57 "Cannot see templates"
Hi
I am installed this package and cannot see the templates in
[\vendor\qoraiche\laravel-mail-editor\resources\views\templates

It shows file just file .gitkeep

![mail_editor](https://user-images.githubusercontent.com/7865012/66749874-b2b30700-eed6-11e9-990e-5f0f9e304135.jpg)

[2019-10-14 12:05] Qoraiche commented on #57
All email templates are stored in the following directory: resources/views/vendor/maileclipse/templates, it will be generated for you when you create your first template.

if you still can't see it you can publish the templates folder using the following command:

`php artisan vendor:publish --tag=maileclipse.templates`

[2019-10-14 12:10] adriancampanaro commented on #57
I am new to this.
How to I create my first template.
How do I run this application?

[2019-10-14 12:11] Qoraiche commented on #57
Hi @adriancampanaro,

checkout the documentation here (there is a video tutorial there):
https://maileclipse.io/public/docs/

[2019-10-14 12:22] adriancampanaro commented on #57
thanks...worked now

[2019-10-14 13:24] #57 closed

[2019-10-14 15:33] Daniel-HBK commented on #32
I had the same problem. CHMOD for app/Mail and app/resources/views/vendors/maileclipse/templates fixed that

[2019-10-14 15:33] Daniel-HBK commented on #9
I had the same problem. CHMOD for app/Mail and app/resources/views/vendors/maileclipse/templates fixed that

[2019-10-17 12:10] henryavila commented on #14
I think that @lukylook wanna say is: to use this awsome package to create notification templates.
So, instead to create a new mailable for every notification, can use a single template to sande different notification.

https://laravel.com/docs/5.7/notifications#formatting-mail-messages

[2019-10-17 12:26] Qoraiche commented on #14
@henryavila yes you right.

[2019-10-20 20:07] kennyhorna opened #59 "Website is down"
This doens't have to do with the package itself but the website of the package (https://maileclipse.io/) that is throwning a `500 ` error page.

![image](https://user-images.githubusercontent.com/16125117/67165485-275cca00-f34b-11e9-8922-153612c1f2dc.png)

Just that. I hope you (@Qoraiche ) can manage to fix it :)

[2019-10-20 21:30] Qoraiche commented on #59
Maileclipse Docs up, home and demo pages are under construction

[2019-10-20 21:30] #59 closed

[2019-10-20 21:33] kennyhorna commented on #59
Oh, I see.

[2019-11-02 14:41] omkar3524 opened #60 "Giving variable in Url in button component"
I want to make a button for activate account. but giving a variable give me error.
My variable is  $link  which look like (http://localhost/activate/ $token)
![link](https://user-images.githubusercontent.com/22766237/68072524-ca323100-fdac-11e9-91ac-19b2c08dfc6b.png)

How to pass variable ?

[2019-11-02 16:32] Qoraiche commented on #60
Just pass the variable without the curly braces `'url' => $link`

Hope this helps.

[2019-11-03 02:17] Qoraiche commented on #60
hope my answer fixes your issue

[2019-11-03 02:17] #60 closed

[2019-11-03 12:01] omkar3524 commented on #60
Thanks , it works

[2019-11-06 21:31] eapostol opened #61 "[Feature Request] How to add subject?"
Hi there! First of all great application you have built. Lots of potential.

---
name: Feature request
About: How to add subject

---

### Is your feature request related to a problem? Please describe.
Currently I don't see a subject field that is available in a mailable objet

### Describe the solution you'd like
Would like an editable field to insert the subject of the email

### Describe altern

[2019-11-07 05:17] eapostol commented on #61
noted that the ticket was replicated here - https://github.com/Qoraiche/laravel-mail-editor/issues/46 . Would love to see this feature added.

[2019-11-07 05:17] #61 closed

[2019-11-16 16:27] vin33t opened #62 "Unable to Open the Route(http://127.0.0.1:8000/maileclipse/mailables Route not Found)"
Installed the package successfully but when I tried to open

I got 404 page not found

![image](https://user-images.githubusercontent.com/13203976/68996136-05a82180-08bc-11ea-9ae0-8e62d84c2a3f.png)

[2019-11-17 02:04] Qoraiche commented on #62
Hi, did you publish the package config and service provider files?

[2019-11-17 05:47] vin33t commented on #62
Yes, I did
![image](https://user-images.githubusercontent.com/13203976/69003639-cf09ef80-092b-11ea-91ae-3eb0c8fda4c5.png)

[2019-11-18 02:21] eapostol commented on #62
I am getting the same issue, after installing it in another laravel project successfully.

I am trying to determine the difference between the two. @Qoraiche  I am getting the same issue as @vin33t .

My setup involves using the laravel homestead vagrant vm. I have two laravel projects in the vm, in different directories (ex. /laravel-a and laravel-b.

I followed the installation instructions for

[2019-11-18 03:02] Qoraiche commented on #62
that's weird, could you please share more information like which laravel version you're using, also i can't see that the mailables URI ends with a dot in the screenshot you've shared?

[2019-11-18 04:39] vin33t commented on #62
"php": "^7.1.3",
"laravel/framework": "5.8.35"

![image](https://user-images.githubusercontent.com/13203976/69025013-38046c80-09eb-11ea-90b5-d15758eb6fe1.png)

@Qoraiche I don't understand why is it not working. I have tried removing and reinstalling it but still not working

[2019-11-18 04:57] Qoraiche commented on #62
there may be a problem with autoloading, try to register it manually in your config/app.php

`qoraiche\mailEclipse\mailEclipseServiceProvider`

[2019-11-20 13:56] hemratna commented on #62
I am also facing the similar issue.

In fact after installing the package,
when I run the `php artisan route:list` it gives below error.

[code]

My setup:
MAMP PRO
PHP: PHP 7.3.3
Laravel: ^6.0

P.S. By remove this package, `php artisan route:list` works as expected.

[2019-11-22 06:29] hemratna commented on #62
@vin33t @eapostol Did you guys got and solution/workaround?
Any help regarding this is really helpful. 🙏

[2019-11-23 08:19] hemratna commented on #62
I resolved my issue.
In my case, I have `APP_ENV=development` in `.env` file.
So I added the `development` `allowed_environments` in the `config\maileclipse.php` and it works.
I hope it works for you too.

[2019-12-01 09:58] vin33t commented on #62
@hemratna @Qoraiche I am still not able to figure out why its not working.

[2019-12-02 15:34] satyam147 commented on #62
Please try /mailables.

[2019-12-02 15:38] satyam147 commented on #62
Please try this $details = Client::findOrFail($id);
You doesn't have to use $this->id as you have declared it in the constructor.

[2019-12-02 15:38] satyam147 commented on #62
Please try

[2019-12-02 16:07] Qoraiche commented on #62
A new upgrade is coming btw, all route behavior would be changed in the next coming versions.

Thank you.

[2019-12-16 09:04] 4unkur opened #63 "Trying to get property 'fullname' of non-object"
I have seen that similar issues have been already submitted & resolved, but I was not able to find a clear explanation what I have to do in order to fix this issue. I have MailEclipse version 1.3 installed
There is a `ProductCreated` mailable & `product-created.blade.php` markdown template. In that template file I have the following line:
[code]

Mailable class:
[code]

Please assist. Thanks.

[2019-12-16 21:11] LorenzoSapora commented on #63
Commenting so I can follow this, and also because I'm facing a similar error, but

[code]

from

[code]

Fresh install `laravel-mail-editor 1.3` into a development environment of `laravel 5.8.*`

[2020-01-02 04:26] armelgeek opened #64 "View [createmailable] not found."
Someone can help my for this error View [createmailable] not found.

[2020-01-17 07:04] HeJiaNong opened #65 "Trying to access array offset on value of type null"
When I create a mailables project following the official website example, I will be prompted with an error when I open it：

![image](https://user-images.githubusercontent.com/39476157/72590600-12d3a200-3939-11ea-8403-750487e270f6.png)

[View public sharing errors](https://flareapp.io/share/OmVXrA78)

Then I found that there were no `from` and `replyTo` keys in the $resource array of the blade temp

[2020-01-24 15:39] base64bits commented on #65
Thanks for creating this awesome package, great work!

Im facing this same issue, new Laravel project 6.2 and php v7.4

[2020-02-11 11:59] maximiliandoerner commented on #64
got the same error, any way you could fix this?

[2020-03-03 14:06] 4n70w4 commented on #65
The same. PHP 7.4.3, laravel/framework v6.6.1

Trying to access array offset on value of type null (View: /var/www/app/vendor/qoraiche/laravel-mail-editor/resources/views/sections/view-mailable.blade.php)`
![image](https://user-images.githubusercontent.com/38257723/75783234-46478000-5d71-11ea-8ea8-e8688e7dcc2c.png)

[2020-03-03 14:54] 4n70w4 commented on #65
Workaround:

[code]

[2020-03-04 08:44] 4n70w4 opened #67 "Feature: multiply mailables_dir"
Case: I separate my apps on modules, for example via https://github.com/nWidart/laravel-modules

Each module has a separate directory for emails like `base_path('Modules/*/Mail/')`.
and `app_path('Mail/')` of cource.

It will be very cool to be able to work with many directories at the same time.

[2020-03-04 09:37] 4n70w4 opened #68 "Mailable table width too small"
![image](https://user-images.githubusercontent.com/38257723/75865482-ad6a4080-5e14-11ea-8a1d-05d2ff5a2f24.png)

Table is very small, scroll appears, very uncomfortable use for users.

[2020-03-04 10:19] 4n70w4 opened #69 "Exception: Cannot access private property"
Why do you need access to my private properties?

![image](https://user-images.githubusercontent.com/38257723/75868977-f1137900-5e19-11ea-849f-f91783b56cd5.png)

[2020-03-04 10:33] 4n70w4 opened #70 "Exception: Trying to access array offset on value of type null in resources/views/sections/edit-mailable-template.blade.php"
![image](https://user-images.githubusercontent.com/38257723/75870825-a1827c80-5e1c-11ea-860c-d6389bbac2dc.png)

[2020-03-04 10:53] 4n70w4 opened #71 "Need show embed images"
In email templates I use `{{$message->embed(public_path('i/slojj-2.png'))}}` instead direct links to images.

[code]

![image](https://user-images.githubusercontent.com/38257723/72900388-d4732400-3d38-11ea-978e-d94569510008.png)

https://laravel.com/docs/6.x/mail#inline-attachments

[2020-03-04 12:39] 4n70w4 opened #72 "Exception: Cannot instantiate abstract class in src/mailEclipse.php"
![image](https://user-images.githubusercontent.com/38257723/75880384-3641a600-5e2e-11ea-8aef-440d1aece48d.png)

[code]

[2020-03-04 12:46] 4n70w4 opened #73 "Break mailable table if in any Mailable throws Exception in build()"
[code]

![image](https://user-images.githubusercontent.com/38257723/75880861-22e30a80-5e2f-11ea-96c3-ae63b13e242f.png)

But expected show table in any cases:
![image](https://user-images.githubusercontent.com/38257723/75880909-41e19c80-5e2f-11ea-9dec-bd2f96427dac.png)

[2020-03-04 17:01] #72 closed

[2020-03-05 10:22] mshoaibdev commented on #70
Having same issue. Any fix on this?

[2020-03-05 22:37] vesper8 opened #77 "Laravel 7 compatibility"
`1.3.3` is not compatible with Laravel 7 due to `illuminate/support ~5|~6`

@Qoraiche Could you please release a new version with Laravel 7 compatibility?

Thanks a lot!

[2020-03-06 00:53] Qoraiche commented on #77
Hi @vesper8,
thanks for letting me know.

Fix PR: https://github.com/Qoraiche/laravel-mail-editor/pull/66

[2020-03-06 00:53] #77 closed

[2020-03-13 16:15] 4n70w4 commented on #65
Fixed after upgrading to 1.3.3 and higher

[2020-03-16 12:56] 4n70w4 commented on #71
How is this done in another plugin: https://github.com/gabrieliuga/laravel-mail-log/blob/6a092a630c3c406e6d9f23bdd688d33d9975e0d7/src/Listeners/MailSentListener.php#L37

[2020-03-16 15:23] 4n70w4 opened #79 "Feature: show Subject in Mailables table instead Namespace and Name"
Users do not understand what namespace is, they understand the headline of the letter.

[2020-03-16 15:26] 4n70w4 opened #80 "Feature: search/filter in Mailables"
It is not convenient for users to work with a large list of Mailables without the ability to search and filter.

[2020-03-23 14:15] eapostol opened #81 "[Feature] - How to upgrade from previous version"
Hello -

I was wondering if there are guidelines / steps to upgrading from an older version of laravel-mail-editor / MailEclipse?

Thanks

[2020-03-23 19:09] Qoraiche commented on #81
Hi @eapostol

which version you're using? if you're using an old version( less than **v1.2**) you may need to publish the templates folder using the following command:

[code]

[2020-03-23 21:13] eapostol commented on #81
Hi @Qoraiche  - it's version 1.3

![cl-maileclipse-version](https://user-images.githubusercontent.com/565104/77363617-71e2d800-6d29-11ea-8f1e-517542fd9985.png)

Just want to ensure that no data is lost (templates or otherwise). We're doing backups but just want to be sure.

[2020-03-25 15:41] 4n70w4 opened #82 "Exception: Function ReflectionType::__toString() is deprecated"
![image](https://user-images.githubusercontent.com/38257723/77555397-40544300-6ec8-11ea-8e0c-c2a7c09778a1.png)
![image](https://user-images.githubusercontent.com/38257723/77555456-4d713200-6ec8-11ea-94c7-25e77f4ac235.png)

[2020-04-07 15:59] KieronWiltshire commented on #79
Also, not sure the current method would scale cross nodes.

[2020-04-07 16:22] Qoraiche commented on #79
@4n70w4 would be great if you open a PR for this

[2020-04-07 16:23] Qoraiche commented on #79
@KieronWiltshire this is planned for the next updates

[2020-04-07 16:23] Qoraiche commented on #79
@KieronWiltshire this is planned for the next updates

[2020-04-07 23:44] KieronWiltshire commented on #79
@Qoraiche to be honest, I can't see myself currently using this as I have already adopted my own solution using grapesjs and Twig, perhaps take a look at that? If you could create a package that utilizes grapesjs for design, and twig for processing email placeholders, I would probably consider using it in future projects!

[2020-04-21 13:31] jaycct opened #83 "how to implement custom theme"
how to fit views in existing theme?

[2020-04-23 22:03] marionassef opened #84 "[Bug] Exception: Symfony\Component\HttpKernel\Exception\HttpException"
Hey there
I am using
1- Laravel 6.2
2- this package 1.2

when I call php artisan route:list
I got Symfony\Component\HttpKernel\Exception\HttpException
from qoraiche\mailEclipse\Http\Controllers\MailablesController@toMailablesList

any help will be appreciated
thanks

[2020-04-24 08:23] lstables commented on #70
Wonder if and when this will be merged. I have just encountered the same problem.

[2020-04-24 08:30] lstables commented on #70
`isset($param['data']['type']) && $param['data']['type'] ===` also needs adding for the `elequent-collection` and `collection` too, adding this myself solves the problem.

[2020-05-06 15:39] oliverbj commented on #70
I have encounted exact same issue.

[2020-05-06 20:30] #70 closed

[2020-05-06 20:32] lstables commented on #70
@Qoraiche is this now closed as the PR is merged?

[2020-05-06 20:39] Qoraiche commented on #70
@lstables should be fixed by merging https://github.com/Qoraiche/laravel-mail-editor/pull/86, in https://github.com/Qoraiche/laravel-mail-editor/releases/tag/v1.4.3

[2020-05-06 21:09] Qoraiche commented on #83
Hey @jaycct sorry for the late reply, this feature will be added to the next coming updates! stay tuned.

[2020-05-06 21:10] Qoraiche commented on #82
Hey @4n70w4. sorry for the late reply, could you please tell which laravel version you're using?

[2020-05-06 21:12] Qoraiche commented on #81
sorry for the late reply, going to add upgrading steps to docs soon

[2020-05-06 21:14] Qoraiche commented on #73
Thanks for reporting, will be fixed in next upcoming updates!

[2020-05-06 21:19] Qoraiche commented on #69
@4n70w4 we're actually accessing your mailable public properties and`with` method then we pass them to the template views

[2020-05-06 21:19] #69 closed

[2020-05-06 21:20] Qoraiche commented on #68
Thanks for your feedback, I believe it will be fixed in next coming updates!

[2020-05-06 21:21] Qoraiche commented on #67
Thanks for reporting, will be added to next coming updated!

[2020-05-06 21:21] #65 closed

[2020-05-06 21:24] Qoraiche commented on #71
thanks for the feedback, will look into it in next coming updates

[2020-05-07 08:02] lstables commented on #70
Great, yes after a composer update that seems to have fixed it, Thank you and awesome package :)

[2020-05-09 22:11] ncatanchin commented on #82
Hi @Qoraiche - I'm seeing this same issue on latest Laravel 6.18.13 - but for me it has been present since I installed the package about 4 weeks ago - Laravel 6.18.6

[2020-05-17 21:45] 4n70w4 commented on #84
[code]

[code]

workaround: delete `abort_unless` from `\qoraiche\mailEclipse\Http\Controllers\MailablesController::__construct` and `\qoraiche\mailEclipse\Http\Controllers\TemplatesController::__construct`

[2020-05-18 05:52] peyobr commented on #84
+1

[2020-05-20 11:47] UdyW opened #88 "Mailables Generate in the default folder even though mailables_dir is set"
In the config the the mailables_dir is set

` 'mailables_dir' => app_path('Mail/CustomTemplates')`

But when mailables are generated they would still be generated in the default Mail folder.

[2020-05-23 17:32] ReeceM commented on #82
Hi @ncatanchin and @Qoraiche,

It appears that it is a function that I added a while back to split some functionality and has to do with finding the types when there was an issue with the types, added in PR #53

If it is alright, I can have a look at resolving this next week on Monday or so?

[2020-05-23 17:34] Qoraiche commented on #82
thanks @ReeceM

[2020-05-24 19:53] ReeceM commented on #82
For knowing what the problem, it is a deprecation that came in since php version 7.1 as the `__toString` method was removed from the `ReflectionType` class.

It was replaced with an undocumented method called [getName()](https://www.php.net/manual/en/class.reflectiontype.php#124658), but only in version >=7.1.

Due to the fact that this method doesn't exist in version before 7.1 it throughs a simi

[2020-05-24 21:10] ReeceM commented on #63
Hi @4unkur and @LorenzoSapora, are you still experiencing issues?

[2020-05-25 21:07] #82 closed

[2020-05-26 12:37] robov opened #91 "Translatable"
Is there a way I can translate the emails ?

[2020-05-26 12:42] robov opened #92 "Modularize"
Is this compatible with nwidarts modules, so I can split up my mailables in modules

[2020-05-26 12:42] robov opened #93 "View data object/array"
Seems that the view data can only handle indiviudal variables, not objects or arrays

[2020-05-26 12:46] robov commented on #91
Sorry.. missed that... apparantly I can add {{__('to-translate')}} straight in the template.. AWESOME !!

[2020-05-26 12:48] Qoraiche commented on #91
You can localize your mailables
https://laravel.com/docs/7.x/mail#localizing-mailables

[2020-05-26 12:48] #91 closed

[2020-05-26 13:05] robov commented on #92
It looks like the code can only handle 1 root directory for all mailables and rendered templates. Would be nice if it could handle more directories and subdirectories so we can modularize the mails

[2020-05-26 13:07] Qoraiche commented on #92
coming soon @robov, we're working on this feature, thanks for your feedback!

[2020-05-26 13:07] robov commented on #92
AWESOME !

[2020-05-26 13:10] robov opened #94 "Extending other mail templates"
I see that I cannot extend my mailable from a default design
Would be great to have, so the designs are all consistent and dry

@extends('core.customer.layouts.email')

@section('content')
<<specific content here>>
@endsection

[2020-05-26 17:29] gidaban opened #95 "Create mailable name as path"
**Is your feature request related to a problem? Please describe.**
Hi, i am trying to keep all mailables separately for ex \System\User\Created then as mailable name i am key in full path however file is created only from last name "Created.php" and now if i will make another one mailable `System\Payment\Create` it shows me both on list, however when i want to edit second one still first is chosen

[2020-05-28 19:52] mayank2108 opened #98 "Feature to send test emails"
Preview also must be made available for mobile and desktop to check responsiveness.

And then there should be a send button to test email.

[2020-05-28 23:11] Qoraiche commented on #98
hello @mayank2108,

Thanks for your feedback, I believe this will be available in the next major updates

stay tuned!

[2020-06-03 11:25] prey87 opened #99 "Website / documentation offline"
https://maileclipse.io/

Account Suspended
This Account has been suspended.
Contact your hosting provider for more information.

[2020-06-09 13:47] dgillier opened #100 "How to insert Picture ?"
I know that the doc is online, but can't find a way to insert an image into a template with {{asset('img/brand/bms_logo_black.png')}}...

Preview are not really working (pict is correctly displayed depending on where...).

<img width="1155" alt="Screenshot 2020-06-09 at 15 44 56" src="https://user-images.githubusercontent.com/37960204/84155169-55248980-aa68-11ea-8217-e3a0715c5acd.png">
<img width=

[2020-06-09 14:07] dgillier opened #101 "Add support for language files"
Hello,

I tried to add @lang params while editing a template but this is really making the preview unusable.

<img width="1129" alt="Screenshot 2020-06-09 at 16 03 50" src="https://user-images.githubusercontent.com/37960204/84157289-dc72fc80-aa6a-11ea-9436-2b8d87dc47b8.png">

not sure how to solve this, any idea ?
Thanks, Denis

[2020-06-09 22:59] Idimma commented on #88
This is due to the namespace App\Mail

[2020-06-10 00:09] SergioWiesner opened #102 "Trying to access array offset on value of type int"
**BUG**

I just installed the package in my application and I have tried to create the first template and it shows me in the logs "Trying to access array offset on value of type int"

**To Reproduce**
Steps to reproduce the behavior:
1. Install the package
2. go to url "/maileclipse/mailables"
4. Add new mailable an create a new mailable
5. Show message "error 500" and you see the logs and say "Tr

[2020-06-24 01:44] KhoaDuongUQ commented on #63
The whole package is unusable with this bug. Is there anyone knows how to this?

[2020-06-24 07:59] ReeceM commented on #63
Hi @KhoaDuongUQ, the bug from what I have traced down is the fact that the relations are not loaded up.

So what you could do is remove the `Model` and leave it as an undefined object type and then the variable will be given a dynamic object, this would be a temporary solution to use when you are testing the mails in the preview pane.

But seems that this is still and issue and you are actively ex

[2020-06-24 08:03] ReeceM commented on #102
Hi @SergioWiesner, would you be able to share that log file in an actual text form?

Also, had you modified the file already or was this in the making the template part?

[2020-06-24 08:23] ReeceM commented on #101
Hi @dgillier, do they not render when you are previewing the mailable?

I was going to suggest using the `{{ __("email.teacher_validation.learn_more") }}` to also render language files, but it would still look the same in the template editor.

The language files should render though when you are looking at the mailable that the template has been attached to, I think the blade `@lang` aren't going

[2020-06-24 08:27] ReeceM commented on #93
Hi @robov, would it be possible to give more information and an example? Are these variables that are passed into the constructor of the Mailable class?

[2020-07-05 13:11] quentingosset commented on #92
I'm using the laravel-module and I was going to ask the same question but since the topic is open I'll follow the evolution of this one.
In any case thank you Qoraiche for your module.

[2020-07-29 13:09] stonkeep opened #103 "Undefined index: string"
**Describe the bug**
I'm getting the follow error after update to 2.0.6 version and PHP to 7.4.7

**To Reproduce**
I went to http://127.0.0.1:8000/maileclipse/mailables and get the follow error

**Laravel Application**: 5.8

**Maileclipse package version**: 2.0.6

**Screenshots**
![image](https://user-images.githubusercontent.com/3990028/88803718-48c4cf00-d183-11ea-9e2e-a3893dbf27db.png)

[2020-08-19 19:54] ReeceM commented on #103
@stonkeep Thank you for reporting this, sorry for the delay in it being seen.

[2020-09-01 10:50] jalallinux commented on #103
yes its bad bug.
you can uncomment string in TYPES.

`public const TYPES = [
        'int' => 31,
//        'string' => 'test_string', // not needed as it can be cast __toString()
        'bool' => false,
        'float' => 3.14159,
    ];
`

[2020-09-01 10:50] jalallinux commented on #103
yes its bad bug. but you can uncomment string in TYPES.
[code]

[2020-09-01 11:04] ReeceM commented on #103
@jalallinux That was left out because it overrides all the string output to any of the mailable objects

[2020-09-01 11:05] ReeceM commented on #103
@jalallinux have you had this issue before too? Also if it is possible @stonkeep would you be able to provide an example of what your mailable looked like when the error occurred?

[2020-09-01 11:07] ReeceM commented on #103
I think there is mainly an improvement for the checking in the logic on the types to return.

[2020-09-01 11:52] jalallinux commented on #103
<img width="1082" alt="Screen Shot 1399-06-11 at 16 21 19" src="https://user-images.githubusercontent.com/37062636/91845935-4c121580-ec6f-11ea-99be-9fde68ea750d.png">

[2020-09-01 11:53] jalallinux commented on #103
@ReeceM when i install package and publish vendor then open url(http://localhost:8000/maileclipse/mailables) this error has been occurred.

[2020-09-01 12:06] ReeceM commented on #103
Okay, so it is on startup without any mailables created?

[2020-09-01 12:10] jalallinux commented on #103
no. I already have 4 mailable class.

[2020-09-01 12:21] jalallinux commented on #103
<img width="797" alt="Screen Shot 1399-06-11 at 16 49 00" src="https://user-images.githubusercontent.com/37062636/91850715-3b639e80-ec73-11ea-8dea-2bc8c45062fc.png">
@ReeceM i removed function input type (string) and its fixed.
thanks for your attention.

[2020-09-01 13:40] ReeceM commented on #103
@jalallinux okay, thank you for providing info on the classes that you have.

I will have a look at the logic check for when to be using preset types. Thank you 👍

[2020-09-01 19:25] Elshaden commented on #100
Hi @dgillier
Did you get any resolution to this problem???

Thanks

[2020-09-03 20:28] ReeceM opened #104 "Pretember for Hacktoberfest - Please Read First"
# Contributors

It is awesome that you would like to help with the MaileEclipse package, there will be issues tagged as `Hacktoberfest`.  Please read this brief list of things about contributing on the repo

Please have a read of this, https://github.com/Qoraiche/laravel-mail-editor/blob/master/contributing.md

- If you would like to work on the issues that are available, please claim them with a

[2020-09-03 20:31] ReeceM commented on #104
###  Feature: search/filter in Mailables #80

This could be possible by using the same method in the son search tool used in jigsaw.

[2020-09-03 20:32] ReeceM commented on #104
### Feature to send test emails to users. #98

[2020-09-03 20:33] ReeceM commented on #104
### Website / documentation offline #99

This one may just be more practical to get people back into using the package or maybe make a static version hosted on something like vercel or netlify

[2020-09-03 20:35] ReeceM commented on #104
Also @Qoraiche I hope you are keeping well and have been in good health as I haven't seen you active on the repo 👍

[2020-09-03 20:36] ReeceM commented on #104
How to insert Picture ? #100

[2020-09-04 00:34] Qoraiche commented on #104
Hello @ReeceM, sounds great, let's go for it! I did join the discord channel you provide 🚀

[2020-09-04 00:35] Qoraiche commented on #104
Hey, yeah, unfortunately, I'm extremely busy those days :(, but let's go for this

[2020-09-04 05:20] ReeceM commented on #104
Hi @Qoraiche, awesome I am glad you are still well.

Awesome that we can encourage some more contribution 😄

[2020-09-06 14:40] ridwankustanto commented on #93
Well, I just face this and still don't have any solution to do for each inside the email template. Every time I use @foreach, I always get this error `Facade\Ignition\Exceptions\ViewException: syntax error, unexpected '&' (View: ...)`. It looks like it couldn't render `<p>@foreach ($products-&gt;products as $product)</p>`, but it works on one data.

[2020-09-06 15:00] ridwankustanto commented on #93
Aaaaand that was my fault. So I just figured this out. Looks like it couldn't render `$products-&gt;products` on foreach as I mentioned above, and I assign the products obj to new variable in the Mailable. Like this

`

    public $data;
    public $products;

    public function __construct(Request $data)
    {
        //

        $products = json_decode($data->products);

        // dd($products

[2020-09-06 16:40] ReeceM commented on #93
Hi @ridwankustanto just as a side note to what you had, the `&gt;` should be filtered out in newer versions? Are you using the latest one?

[2020-09-06 16:42] ReeceM commented on #93
@ridwankustanto but I am glad that is sorted now.

In line with the original issue, I do believe it is inline with what you had, so thank you for sharing the issue that you had.

With regards handling the arrays, I do believe that that should possibly be solved. But that would need some checks to confirm that.

[2020-09-06 23:22] maxhacker11 opened #105 "No hint path defined for [maileclipse]"
**Describe the bug**
Everything works fine on my local computer, but on the server, when I try to send emails I get this error:
[code]

This is how the code looks where I call this:
[code]

So it triggers a notification, which does this:
[code]

Then we have the InactiveUserEmail which has a constructor and does this in the build function:
[code]

**To Reproduce**
1. Add mail eclipse to your proje

[2020-09-07 15:56] ReeceM commented on #105
Hi @maxhacker11, sorry for the late response.

I just want to check a few things, in your composer file, is MailEclipse under `require-dev`? If so, this means that if you did a composer install to exclude the development packages, it won't be on the server.

The reason also for that is because of the fact that `maileclipse::` is a view hint path that is defined by the package, so if the package is

[2020-09-08 14:59] maxhacker11 commented on #105
I just checked both on the server and on the local setup, in both places it is included under `require` in composer.json

I also did a `composer --installed` on the server and it listed out laravel-mail-editor, which is maileclipse as far as I know, so it should be installed.

I can access the admin panel, edit templates and everything on the server, I just can't seem to send emails :/

I also loo

[2020-09-08 15:22] ReeceM commented on #105
Hi, okay, so not sure why that is happening.

What I will do is spin up a setup with the maileclipse and laravel version the same as yours and see if I can reproduce it.

Just as a confirmation, the error is coming from the mailable that you have created?

[2020-09-08 16:14] maxhacker11 commented on #105
Hey! Thanks for replying fast!
The error occurs once I try to send an email that I have created with mail eclipse :/
I am also using laravel deployer package in order to push to the server, but I don't think that causes problems.

[2020-09-08 16:19] ReeceM commented on #105
I don't believe the deployer package would be causing issues, all the directories are usually symbolically linked and that is would still let everything function normally.

[2020-09-09 07:06] ReeceM commented on #105
Hi @maxhacker11,

With regards the hint path not being found, when pulling to the server from git, do you have something that looks like the following in the terminal:

[code]
Note the last line ^

The hint path comes from the service provider, so it may not be autoloaded into the composer classmap.

What you could do is add the line below into `config/app.php`
[code]

[2020-09-10 12:32] lilouch opened #106 "Laravel 8 support ?"
Laravel 8 has been released. The current version of laravel mail editor is not compatible with this version. Is there a way to add support for laravel 8 ?

Thank

[2020-09-10 12:38] ReeceM commented on #106
Hi @lilouch thank you for opening the feature request.

Support for Laravel 8 will be looked at. Thank you :+1:

[2020-09-10 13:30] ReeceM commented on #106
Hi,

Could you run `composer require qoraiche/laravel-mail-editor:dev-laravel-8-support` on your laravel 8 app to confirm that you are getting the expected results too 👍

[2020-09-10 22:10] maxhacker11 commented on #105
Hello!:D
Thanks for taking the time to help out:)
I added the line you suggested in `config/app.php`, however it didn't fix the problem.

I double checked my setup. The laravel deployer package changes the structure of the project a bit. It moves everything inside the "current" folder, which holds the current release.

Since I created an artisan command that calls the above mentioned logic of send

[2020-09-10 22:10] #105 closed

[2020-09-11 16:20] ReeceM commented on #105
Hi @maxhacker11,

Really glad you were able to sort it (:

I use deployer and usually you have to be in the current folder to be able to run artisan commands and from there all things should work.

Not sure your setup, but usually, you would have all the app/* stuff set and then vendor and storage are symlinked, but being symlinked should still give the same results.

If there is something specifi

[2020-09-14 08:22] lilouch commented on #106
Seems to work ! Thank a lot for the quick fix ! =D

[2020-09-14 08:23] ReeceM commented on #106
@lilouch Awesome 👍

It will be tagged then with the latest version

[2020-09-15 13:56] s72817 commented on #63
Hi, same issue like @LorenzoSapora "Trying to get property 'email' of non-object".
Laravel: 6.18.40 no fresh install -> is an existing project

There is actually no way to call the dashboard of Mail Editor.

[2020-09-15 14:43] ReeceM commented on #63
Hi @s72817 thank you for your input.

Is the class or object that the email value is being retrieved from a Model or a different class?

If you would be able to share some details that can help to see what is the main cause of this

[2020-09-15 15:00] s72817 commented on #63
Hi @ReeceM thanks for your quick reply!!
If found the issue... in my Mail Folder there are some existing Mailable and one of them trigger it.
It works, if I comment out all of the existing Mailable. Actually I'm on the way to found my issue :)

[2020-09-15 15:44] ReeceM commented on #63
@s72817 so the reason why the issue may be there is that MailEclipse generates Model classes or provides variables to the mailable so that you can preview it.

There are two classes that are passed to the mailable, the one is an Eloquent `Model` if it is type hinted, and then if the other is not it is a `Mocked` class, this handles dynamic object calls.

So if there is a different type of class, i

[2020-09-18 20:00] ReeceM commented on #106
Hi @lilouch,

We are looking at supporting Laravel 8 via `v3` of MailEclipse

So just a heads-up so that you are aware of that.

As well as anyone else looking for Laravel 8 support.

**See [#108](https://github.com/Qoraiche/laravel-mail-editor/pull/108)**

[2020-09-18 20:31] ReeceM commented on #71
This is a good issue to begin with for someone who is comfortable with handling the internals of pre-displaying the rendered images.

The file linked makes use of bas64 encoding and embedding the data object in the email. **If you use the code from that file or use parts of it, please attribute it** If not it will be done so in the review process

[2020-09-18 20:38] ReeceM opened #109 "A single Artisan publish command"
**Problem**

Currently, it is a rather long string to remember to copy and/or type for people using MailEclipse when installing and upgrading to get the latest vendor files in their frontend.

Currently have to type `php artisan vendor:publish --provider="qoraiche\mailEclipse\mailEclipseServiceProvider`

**Proposed Solution**

A nicer format would be `php artisan mail maileclipse:install` or `php

[2020-09-18 20:40] ReeceM commented on #98
Tagging for issue relation -> #41

[2020-09-18 20:43] ReeceM opened #110 "PSR Classname compliance"
It would be good to get all the classnames and namespaces to make use of PSR standards so that the compose autoload system and classmaps all function correctly and as expected.

There are a few classes and files that have lowercase first parts of the names.

This is a good issue for new comers helping on the repo 👍

[2020-09-21 16:20] #109 closed

[2020-09-21 16:30] yogendra-revanna commented on #110
Hi @ReeceM,

I would like to work on this.

[2020-09-21 16:32] ReeceM commented on #110
Hi @yogendra-revanna,

Thank you.

I just want to check with you, are you wanting the contributions to count toward the Hacktoberfest event?

[2020-09-21 16:36] yogendra-revanna commented on #110
No @ReeceM. Nothing like that, I was using this package and thought I could contribute.

[2020-09-21 16:38] ReeceM commented on #110
@yogendra-revanna, Okay that is awesome, thank you. Really appreciated 💯

I was just concerned if they are merged they wouldn't count. But this one would be useful to have done before October, so please continue with it :)

[2020-09-21 16:46] ReeceM commented on #94
Hi @robov, would you be able to provide some a more clearer example of this suggestion?

We can maybe get someone to work on it during Hacktoberfest or before then.

[2020-09-21 16:47] ReeceM commented on #94
From what I understand, you are suggesting extending a template that you have made yourself?

Or extending the templates from MailEclipse

[2020-09-22 02:50] yogendra-revanna commented on #110
@ReeceM, Please check the commit. I will send the pull request if you give a go-head.

[2020-09-22 05:21] ReeceM commented on #110
Hi @yogendra-revanna, thank you very much 😄.

With the composer file, I don't think is necessary to have duplicates of the alias in the psr-4 autoload and the one for the alias.

The below two could be adjusted:

This is accurate for the psr-4 autoload entry: `"Qoraiche\\MailEclipse\\": "src/"`

https://github.com/yogendra-revanna/laravel-mail-editor/blob/1a834be54597580a0a9736865c8647e993182008/c

[2020-09-22 06:39] yogendra-revanna commented on #110
I had left them as a fallback, so that If anyone referencing outside this repo with the old namespace should not face anyissue.

[2020-09-22 07:38] ReeceM commented on #110
@yogendra-revanna I don't think that will be an issue. If we keep the other formats, we may be encouraging end users to keep the lower case structure.

In all I don't think there is a common use case for the package that someone would be referencing something for the repo. If they do have issues, the error should be clear.

But I don't mind helping if someone opens an issue because of that in the

[2020-09-22 07:45] yogendra-revanna commented on #110
Sure @ReeceM, will update and send the pull request 👍

[2020-09-22 19:51] #110 closed

[2020-09-22 20:07] #106 closed

[2020-09-22 20:21] ReeceM commented on #106
Hi @lilouch v3 is tagged, please feel free to open a bug report if there are any issues 👍

[2020-09-22 20:29] ReeceM commented on #88
For anyone who will work on this in the coming Hacktoberfest season. Please mark that you would like to work on this.

[2020-09-22 20:40] ReeceM commented on #88
Also the `mailables_dir` config value seems to handle where the templates.json file is stored, it is never referenced in the actual function in creating a new mailable, although it is used when deleting the mailable, so that is a plus as adding it to the create function would not break that part.

If you do use the naming from the mailables_dir, you will actually get the entire real path of the ap

[2020-09-27 17:18] ReeceM opened #114 "Middleware class with Gate functionality definable"
## Description
It would be useful to have a middleware that is dedicated to the MailEclipse editor, instead of defining it in the controllers constructor. Currently if it is updated, you have to make sure it is updated in both controllers and also any future controllers.

It might not be clear to an end user where the actual auth logic is coming in.

**Describe the solution you'd like**
It would m

[2020-09-28 13:53] robov commented on #94
I would like my main templates to be based in code (ie, main email design). Then the individual designs through a more dynamic way.

[2020-09-28 14:34] ReeceM commented on #94
Hi @robov, okay, so basically, you want to have a blade layout that is your base layout and be able to pick that from the maileclipse editor area?

So with a file structure below after creating the mailable
[code]

But instead of using the templates provided, the base is a blade file that takes a name that should be extended and saves that as the new `mailable-class.blade.php` file that looks like

[2020-09-30 14:37] ReeceM commented on #103
This should be fixed now with v2.2.1, the issue will be closed and if there is an issue again, please re-open it 👍 😃

[2020-09-30 14:37] #103 closed

[2020-09-30 14:39] ReeceM commented on #102
This is tagged as I haven't been able to reproduce it, and also it isn't clear if this is an error from the maileclipse class or something to do with the artisan command for creating mails.

If anyone else has this issue, please could you share the steps to reproduce.

Many Thanks in advance

[2020-09-30 16:17] Qoraiche commented on #102
Hey @ReeceM, from the stack trace he provides looks like it's caused by the `MaileblesController@generateMailable` method, @SergioWiesner can you please tell us what PHP version you're using, also it's a known issue with laravel incompatible PHP version (mostly PHP **7.4**) (https://github.com/laravel/framework/issues/30737), thank you

[2020-09-30 21:12] ReeceM commented on #102
Hi @Qoraiche I saw that too, and it's the method that calls the console command, then it seems the error comes from either the Artisan class itself when parsing the parameters or because of something the `generateMailables()` method passed to it.

It does seem that is related to that issue in the Laravel framework. It would be nice to know what caused it or if it was just a once off issue 🤷‍♂️

[2020-10-01 08:24] Alina-chan commented on #100
Hey @dgillier, if you are trying to output the image in your HTML code, maybe Blade will help
`<img src="@asset('img/brand/bms_logo_black.png')"/>`

[2020-10-01 22:26] ivebe opened #116 "When creating mailable, user input is used for a class name, but it's not properly sanitised"
**Is your feature request related to a problem? Please describe.**
If user enter `123` as an mailable name, file will be created in `App\Mail\123.php` and class name will be `class 111 extends Mailable`, which is not valid class name. Same goes for `null`, `interface`, or any other reserved keywords.
https://www.php.net/manual/en/language.oop5.basic.php#language.oop5.basic.class
https://www.php.ne

[2020-10-02 13:33] ReeceM commented on #116
Hi there,

I like this feature addition as a whole as it would account for random name creation and errors if someone is writing test classes and putting random things in.

I agree with the fact that a blacklist of keywords would be pointless as that would have to be updated for any releases of PHP itself.

### Suggestions

- [ ] 1. Add the `Mail` as a suffix rather. This would be more inline with

[2020-10-02 13:42] ReeceM commented on #95
Hi @gidaban thank you for picking this up.

I think what the issue is that the name is not taking into account the usage of the namespace when creating the mailable.

What the solution would be is to account for the namespace structure of the backslashes. This would also be mirrored into the markdown name if it is created to follow the structure of the class namespace.

Thank you for bringing this

[2020-10-02 13:52] ivebe commented on #116
Sure, just in case of suffix, we need to verify that User input starts with either a letter, or underscore, as those are requirements for class name. I believe Str::slug will remove all unwanted characters, so from the frontend point of view user should be only notified that name of mailable must start with a letter (or underscore) and that it can't be empty. Other cases should be covered by Str:s

[2020-10-02 14:57] Qoraiche commented on #116
Thanks for pointing this enhancement @ivebe,

Sure, it would be great to open a PR for it, also @ReeceM's mentioned suggestions (https://github.com/Qoraiche/laravel-mail-editor/issues/116#issuecomment-702736734) are really worthful to follow

[2020-10-02 19:40] #116 closed

[2020-10-03 18:15] ReeceM commented on #104
Hi @Qoraiche,

Not sure if you have seen this tweet https://twitter.com/hacktoberfest/status/1312221208667185153?s=20

If not, not sure if you want to label the repo ? At least if anyone has made PRs for the event they won't feel like they have done it for no reason.

And it is a decent thing for DO to have done for the event.

[2020-10-03 20:43] Qoraiche commented on #104
Hi @ReeceM, Thanks for pointing me out to this, I certainly didn't see that tweet 👍

I've added the **hacktoberfest** label to the repo.

Thank you!

[2020-10-22 21:52] Qoraiche opened #123 "Feature: Preview template on different screen sizes (mobile, screen)"
NOTE: I've split the original request https://github.com/Qoraiche/laravel-mail-editor/issues/98 to handle this feature individually

### Feature summary:

Add the ability to switch between different preview screen sizes:
- Mobile
- Desktop

[2020-10-22 21:55] Qoraiche commented on #98
Preview for mobile and desktop feature will be resolved here: https://github.com/Qoraiche/laravel-mail-editor/issues/123

[2020-10-23 00:05] Qoraiche opened #124 "Custom mailable blade preview modal/page"
This Feature is to add a custom preview modal for no markdown template instead of the WYSIWYG built-in previewer.

[2020-10-23 18:30] Qoraiche commented on #98
Feature added in https://github.com/Qoraiche/laravel-mail-editor/releases/tag/v3.2.1.

[2020-10-23 18:30] #98 closed

[2020-10-30 19:31] ReeceM opened #129 "[Discussion] Refactoring Class files"
I have been working on and wanting to suggest the refactoring of the files of the MailEclipse package for a while as it may improve maintainability and also encourage future contribution from users who may see the opportunity to improve or fix something in the package.

Is this something that would be accepted and good to be done for the package?

If need be, the branch is on: `feature/break-up-cl

[2020-10-31 13:06] Qoraiche commented on #129
Hey @ReeceM, yeah that's awesome, this is really what I was thinking to enhance but unfortunately didn't have much time yet ⌛ , so as you said this will encourage future contribution to the package which is awesome.

yes, of course, sounds good we can start with this as a refactoring launch 👍🏼 , can you open a new PR for it

[2020-10-31 19:25] ReeceM commented on #129
Hey @Qoraiche, that will be awesome then. I will get the latest changes made across as some of it was done before the new changes and I'll get a PR open 👍

[2020-11-11 20:21] ReeceM opened #132 "Method CreateMailable on the controller doesn't work and leads to non-existent view"
It appears that if the endpoint for the createMailable method is hit, the view doesn't exist.

this happens if the js hasn't loaded, the modal doesn't open up.

this method should be removed to prevent issues, as the file doesn't exist and the flow for creating the mailable exists. :)

https://github.com/Qoraiche/laravel-mail-editor/blob/a78120156b1fdff057b1d2c89834f85c51a045d1/src/Http/Controller

[2020-11-11 20:24] Qoraiche commented on #132
thanks for reporting, would be great if you can push the changes

[2020-11-12 04:44] #132 closed

[2020-11-26 00:48] phadaphunk opened #136 "Weird naming behaviour"
**Describe the bug**
The naming behaviour is weird. It will lowercase your whole name and add Mail at the end. It does not respect the PascalCase if multiple words are in the name. Also, if you have the word `email` at the end of the name it won't add the word Mail but will lowercase the word email which makes it inconsistent with the rest.

**To Reproduce**
Steps to reproduce the behavior:
Create

[2020-11-26 01:01] phadaphunk commented on #136
I read your tests and it seems to be... by design?

[code]

Hmm.

[2020-11-26 16:17] phadaphunk opened #137 "Can't use class members to pass down to my Markdown from within the Mailable."
**Describe the bug**
Can't add a class member to my Mailable.

[code]

In this example, `public $url` throws when accessing `myapp.dev/maileclipse/mailables`

**Trace**:
`Return value of Qoraiche\MailEclipse\MailEclipse::viewDataInspect() must be of the type array or null, none returned `

`..\vendor\qoraiche\laravel-mail-editor\src\MailEclipse.php:827`

Can't use `protected` or `private` because

[2020-11-26 16:23] ReeceM commented on #137
Thank you for this, will have a look in a bit, as well as the other issue raised 👍🙂

[2020-11-26 16:25] phadaphunk commented on #137
@ReeceM the `viewDataInspect` function should return `null` if the other instanceof do not pass. It fixes the issue as well. Should I PR this?

[2020-11-26 16:30] ReeceM commented on #137
@phadaphunk if you can put that together it would be great, thank you :) , I will have a look at it in an hour or so though.

If you do need it, you should be able to tag it locally in your composer file, you can check under versions in packagist to see what the version ID is for it

[2020-11-26 20:47] #137 closed

[2020-11-26 20:51] ReeceM commented on #136
Hi @phadaphunk with regards the tests, those were done but the contributor to match the initial design by the of the package. So that can be adjusted anyways. At least we know that it gives the correct wrong result 🤣.

But yes, the naming convention is a little non-standard currently. Thank you for raising the issue on the repo.

I will see if this can be either PR'd or worked into the refactoring

[2020-11-26 20:59] #104 closed

[2020-12-01 10:08] P-d0309 opened #139 "Giving the weird error Return value of Qoraiche\MailEclipse\MailEclipse::viewDataInspect() must be of the type array or null, none returned"
**Describe the bug**
I have installed the package in fresh Laravel and it returns this error
**Return value of Qoraiche\MailEclipse\MailEclipse::viewDataInspect() must be of the type array or null, none returned**
when I hit the URL of **http://127.0.0.1:8000/maileclipse/mailables**

**Laravel Application**: version
8.16.2
**Maileclipse package version**: version
3.2.2
**Screenshots**
![6e177d07-6

[2020-12-01 15:22] Qoraiche commented on #139
Hey, thanks for reporting, @ReeceM I think this should be fixed after the fix https://github.com/Qoraiche/laravel-mail-editor/pull/138?

[2020-12-01 15:24] ReeceM commented on #139
Hi @P-d0309, sorry that you have had this bug and thank you for reporting it.

I thought it was in the v3.2.2 release. But it is now with v3.2.3

[2020-12-01 15:24] ReeceM commented on #139
@Qoraiche I was just typing a reply to this :), it is fixed with the PR #138, I just tagged the release with that fix.

[2020-12-01 17:17] ReeceM commented on #139
Hey @P-d0309, when you have a chance and update. Would you be able to ping me if it’s working alright. 👍

[2020-12-02 16:30] ReeceM commented on #139
I am closing this issue as it should be resolved now.

If there is still an issue, please re-open this one.

[2020-12-02 16:30] #139 closed

[2020-12-10 15:31] lstables opened #140 "Trying to get property X of non-object each mailable, even though these work when running in the app"
I have just installed the package in the hope we can use this, but looks like we can't.

Every mailable that as something on it, (shown below) doesn't work

<img width="655" alt="Screenshot 2020-12-10 at 15 28 27" src="https://user-images.githubusercontent.com/1168291/101792393-90c60c00-3afc-11eb-9cb5-8fa7026c929e.png">

<img width="782" alt="Screenshot 2020-12-10 at 15 28 36" src="https://user-im

[2020-12-10 15:38] ReeceM commented on #140
Hi @lstables, thank you for raising this.

I see that it is version 2, do you happen to know the patch version? Is it the latest v2.2.2?

With regards the queuing part of the mailable, that wouldn't be the worry as the values passed to the mail are mocked via separate object class.

[2020-12-10 15:39] lstables commented on #140
@ReeceM Hi, So would I need v2.2.2?

[2020-12-10 15:40] ReeceM commented on #140
Also, would you be able to share a stack trace on the side of the ignition error?

[2020-12-10 15:40] lstables commented on #140
As I followed the branch stating composer require qoraiche/laravel-mail-editor:^2.2 that's what I did but seems what ever is passed fails.

[2020-12-10 15:41] ReeceM commented on #140
@lstables I recall there was a version in v2 that was failing and not sure what one it was off the top of my head, if possible, could you see if you have the latest version?

[2020-12-10 15:41] lstables commented on #140
Yeah it was v2.2.2 just re-installed again to get a stack trace

[2020-12-10 15:43] lstables commented on #140
<img width="1235" alt="Screenshot 2020-12-10 at 15 42 41" src="https://user-images.githubusercontent.com/1168291/101794027-59f0f580-3afe-11eb-95f1-8526c639c25c.png">

This is another mailable I have again not working as expected, so a little unsure as to why.

[2020-12-10 15:43] ReeceM commented on #140
Okay, then it should be the latest version that is in your project.

I will see if I can reproduce the error just now, I will be busy for a bit longer with work.

[2020-12-10 15:44] lstables commented on #140
@ReeceM Thank you, if you could find out why that would be awesome. I'm using Laravel Framework 7.30.0

[2020-12-10 20:44] ReeceM commented on #140
Hey there, just so you know I was able to reproduce the error on my end \:)

I have an idea as to why it is failing and should be able to get a PR through to work as this seems to be an edge case or regression.

[2020-12-10 20:46] lstables commented on #140
@ReeceM Great, how long will that take out of interest to get merged etc. Also what is it, where/what is the problem?

:)

[2020-12-10 21:02] ReeceM commented on #140
@lstables it seems to be what I thought it was, it has to do with the class that creates a dynamic mocking object that builds on itself with each call.

When building the mailable the constructor args are mocked or created, if they normal types, `string, int, float, bool` they get a static default.

Basically, to provide dumb object resolution for calls to things like `$this->tenancy->amount_payin

[2020-12-10 21:03] ReeceM commented on #140
With regards the fix, just want to make sure it isn't that, but just note the fix above 👆 will get wiped if deployed

[2020-12-10 21:07] lstables commented on #140
No major rush as such a week or two won't hurt I guess. I won't do any edits locally as as you say it will be overridden once the fix is deployed.

I thank you for taking the time to look at this and hopefully fix it, great work my friend. :)

[2020-12-10 21:11] lstables commented on #140
I can confirm that works, to some degree.

<img width="947" alt="Screenshot 2020-12-10 at 21 10 06" src="https://user-images.githubusercontent.com/1168291/101830246-2200a700-3b2c-11eb-8979-2e8860d3bf64.png">

However as you can see above when trying to edit a mailable the same sort of thing is happening. Hopefully this is what you are referring to by testing and checking it works.

[2020-12-10 21:13] ReeceM commented on #140
Yeah, that is the kind of thing I just want to make sure isn't happening. Just to check, are there any type hints for that value? Like a model class or another class type?

[2020-12-10 21:14] lstables commented on #140
Just in the constructor vars are passed in.

[2020-12-10 21:16] lstables commented on #140
Which are usually just arrays sorry or a collection.

[2020-12-10 21:19] ReeceM commented on #140
Cool, that helps. The Mocked class would handle those, collections or arrays. As the preview part doesn't really know the actual data you want available.

[2020-12-10 21:20] ReeceM commented on #140
Yeah, bit of a lol, slap myself moment. Looks like I patched it on v3 but didn't port the fix back into this version. Although it should have been.

[2020-12-10 21:22] lstables commented on #140
Haha, happens to us all buddy. Any chance if porting it back then if all works on v3

[2020-12-10 21:22] ReeceM commented on #140
### Version 3
https://github.com/Qoraiche/laravel-mail-editor/blob/0598e658239b3156365fe49b3a6774596842be63/src/MailEclipse.php#L716-L746

### Version 2
https://github.com/Qoraiche/laravel-mail-editor/blob/4c9bc96e5899faaf1a60c7c4d55ec0779cf474d9/src/MailEclipse.php#L657-L683

Both very different and I think for a very good reason 🤦

Yeah, I am going to do that kinda now or so, and see if that wor

[2020-12-10 21:24] lstables commented on #140
Awesome, if it does and you can release an update i'll pull that in with composer update 😉👍🏻

[2020-12-10 21:27] ReeceM commented on #140
<img width="525" alt="Screen Shot 2020-12-10 at 23 26 17" src="https://user-images.githubusercontent.com/2767904/101831798-22ef0400-3b3f-11eb-80e8-398e00fed689.png">
<img width="605" alt="Screen Shot 2020-12-10 at 23 26 12" src="https://user-images.githubusercontent.com/2767904/101831803-25e9f480-3b3f-11eb-8dd6-0da25cd1b71c.png">

Works as it should do.

[2020-12-10 21:29] lstables commented on #140
Sweet, is that from v3?
Will you now be able to update v2.2.2 to 2.2.3?

[2020-12-10 21:34] ReeceM commented on #140
- Yeah, thats the v3 stuff working

- The version will be v2.2.3, so a composer update should do 👍

[2020-12-10 21:37] lstables commented on #140
@ReeceM great, so can composer update now?

[2020-12-10 21:39] ReeceM commented on #140
Not at the moment, just opened the PR \:)

[2020-12-10 21:40] lstables commented on #140
Ah, yeah so I see, thank you. @ me when you feel I can update composer if you would please.

Once again a massive thank you for sorting this out.

[2020-12-10 21:46] ReeceM commented on #140
@lstables you should be able to give it a whirl now 👍  :)

https://github.com/Qoraiche/laravel-mail-editor/releases/tag/v2.2.3

[2020-12-10 21:50] lstables commented on #140
Great, will try it out now. Thanks dude

[2020-12-10 21:52] lstables commented on #140
<img width="1235" alt="Screenshot 2020-12-10 at 21 51 55" src="https://user-images.githubusercontent.com/1168291/101834193-eec11680-3b31-11eb-882a-52e8f5d3fb58.png">

Not sure if it's me, but get this now.

[2020-12-10 21:57] ReeceM commented on #140
Yeah, that ain't your fault. I added a new typo.

[2020-12-10 21:58] lstables commented on #140
Whoops! 😅  No worries, glad you are sorting tbh :)

[2020-12-10 22:01] ReeceM commented on #140
Could you just do the for me: `composer require qoraiche/laravel-mail-editor:dev-fix/issue-140-variable-assignment`

Then if it works I will tag the correct version then you can do: `composer require qoraiche/laravel-mail-editor:v2.2` again

[2020-12-10 22:02] lstables commented on #140
Yep, all working buddy. Awesome stuff. Thank you and well done.

[2020-12-10 22:06] lstables commented on #140
Back to 2.2.3 then I guess now?

[2020-12-10 22:06] ReeceM commented on #140
So version 2.2.4 should have it all sorted, I will close this issue in a bit, please re-open it if you have issues again.

[2020-12-10 22:07] lstables commented on #140
Ah ok, cool.

Thank you once again for swiftly sorting this. Much appreciated.

[2020-12-10 22:09] lstables commented on #140
Hmm, sorry getting `qoraiche/laravel-mail-editor v2.2.4 requires illuminate/support ^8.0`now think I'm still on `7`

[2020-12-10 22:11] ReeceM commented on #140
That shouldn't be ❗. Not sure why that is like that then. It was on the v2.x branch. Sorry

[2020-12-10 22:14] lstables commented on #140
Don't understand why it worked on `dev-fix/issue-140-variable-assignment` but since trying composer update again it's now not. :(

[2020-12-10 22:14] ReeceM commented on #140
Flip, I've seen what I did...

There should be the option for gifs here...

[2020-12-10 22:19] ReeceM commented on #140
@lstables this should be resolved now.

Packagist reports the correct dependancies

[2020-12-10 22:20] lstables commented on #140
Sure is. awesome work once again my friend. Thank you kindly.

[2020-12-10 22:22] ReeceM commented on #140
Awesome, please re-open if there is something that was missed \:)

[2020-12-10 22:22] #140 closed

[2020-12-11 16:33] lstables opened #146 "[3.x] Editable Mail files for Notification classes"
More of a question that good be a feature I guess.

For how great this package is, is it/would it be possible to have mail notifications editable as well as Mailables? Or is it just a case of Mailables?

[2020-12-11 18:42] ReeceM commented on #64
This issue I believe would have been resolved by the PR #135, I think that would have been the cause of this. As there wasn't any further info provided, it will be closed

[2020-12-11 18:42] #64 closed

[2020-12-11 18:48] ReeceM commented on #146
Hi Lee, so I think it was asked before, I think #14 is related to this question.

I don't think there has been much activity on it recently and also on that issue specifically either.

I would just like to check, as the Notifications can have views, as well as the method calls to build a notification, which part are you thinking of being editable via the package?

Also on the notifications, you ca

[2020-12-11 20:13] lstables commented on #146
So when you a notification is made and you specify email really have those editable

[2020-12-11 20:38] ReeceM commented on #146
Cool, so basically the view file that is referenced by the notification. That is a easier starting point to integrate that feature

[2020-12-11 20:45] lstables commented on #146
Yeah you got it.

[2020-12-18 06:27] parthkharecha commented on #44
![image](https://user-images.githubusercontent.com/67583304/102582031-c0da6400-4127-11eb-9d2b-f5ea96540ccd.png)

**_maileclipse.php_**

Add `production` in allowed_environments array

[2021-02-01 14:05] gombeh commented on #94
copy folder **sections** package to vendor in **public** folder and modify that files. good luck

[2021-03-05 10:09] BoGnY commented on #63
same problem :cry:

[2021-03-05 13:58] ReeceM commented on #63
Hi @BoGnY sorry that you are having issues, may I ask if the value that you are calling is through a relation on the model or is it a normal class?

[2021-03-05 15:21] BoGnY commented on #63
[**@ReeceM**](https://github.com/ReeceM) commented on [5 mar 2021, 14:58 CET](https://github.com/Qoraiche/laravel-mail-editor/issues/63#issuecomment-791435774 "2021-03-05T13:58:21Z - Replied by Github Reply Comments"):

Hi @ReeceM the problem is on property of relation on the model.
This is one of `Mailable` with problem:
[code]

I'm using MailEclipse v2.2.4 with Laravel 7.30.4

[2021-03-05 15:53] ReeceM commented on #63
@BoGnY, alright, so I see that it is also from a relationship that you are calling `name` property.

I have been trying to wrap my head around a sensible fix for this. This would make it that all the possible relations for a model need to be faked. But I am not sure the depth that it would need to go so as to be practical or sensible.

It could be something that is defined in the config file, like

[2021-03-05 18:02] BoGnY commented on #63
No @ReeceM , I have at most 2 levels of depth in relationships :+1:
Defining it in the configuration file seems to me the correct idea to avoid problems with larger applications

[2021-03-09 20:08] ReeceM commented on #41
For reference, this was added in v3.2.1, https://github.com/Qoraiche/laravel-mail-editor/releases/tag/v3.2.1

Please let me know if this also can be closed, as there was another issue with a similar request. We could maybe keep this open

PR: https://github.com/Qoraiche/laravel-mail-editor/pull/122

[2021-03-11 10:20] #129 closed

[2021-04-30 01:30] rxng opened #150 "Error: Symfony \ Component \ HttpKernel \ Exception \ HttpException No message"
Going to http://localhost:8000/maileclipse/mailables leads to the following error.

<img width="1082" alt="image" src="https://user-images.githubusercontent.com/19649766/116637476-62f83b80-a9a7-11eb-9175-233a87882af9.png">

I have followed all the install instructions, so seems like this is a bug? I am using version 2.2, on Laravel 5.6.40

[2021-04-30 01:49] Qoraiche commented on #150
Thanks for reporting @rxng, could you please share the full error stack?

[2021-04-30 04:48] rxng commented on #150
sure thing here you go  https://drive.google.com/file/d/1b2J33JEKbDvjueh8idIoh9GsSlPn2oAa/view?usp=sharing

[2021-04-30 09:39] ReeceM commented on #150
Thank you for reporting @rxng 👍

It seems to be an authorization error when looking at the stack trace and going back. Unfortunately there isn't a message added at that point

<img width="1276" alt="Stack trace error" src="https://user-images.githubusercontent.com/2767904/116676966-edd93600-a9a7-11eb-9099-b8c06d49560b.png">

Could you see if the environment config `'maileclipse.allowed_environment

[2021-05-04 04:05] rxng commented on #150
sorry @ReeceM I never got a notification of your reply! How/where do I set the  environment config 'maileclipse.allowed_environments' ?

[2021-05-04 06:08] ReeceM commented on #150
All good @rxng :+1:

It is in the `config/maileclipse.php` file. The settings look correct, but as you say it isn't working like that then it has got an issue. Thank you for providing the extra information about it.

Will have to look at why it isn't working correctly for the environment configuration.

[2021-05-05 02:02] rxng commented on #150
You’re welcome, good luck with it! @ReeceM

[2021-05-09 18:03] ReeceM commented on #150
Hi @rxng I have checked the files and also the logic, it seems the only thing that wasn't right was that the error message wasn't clear enough.

Looking further at the stack trace you shared, I noticed that the result from checking the environment is `false`

This line of code: `App::environment(config('maileclipse.allowed_environments', ['local']))`

[code]

This would indicate that the environme

[2021-05-09 18:03] ReeceM commented on #150
Just for reference, I made some tests to confirm that the system is working as intended and will link the PR to this issue, so it should show in the TL

[2021-05-18 07:28] ReeceM commented on #150
Closing due to lack of feedback. The issue only seems to be the lack of a valid error response message

[2021-05-18 07:28] #150 closed

[2021-05-18 15:56] dlearningfr opened #153 "Documentation"
While your website is down, we do not have access to documentation.

Could you give us access to the documentation in any way ?

Thank you for your amazing work there.

[2021-05-18 21:50] ReeceM commented on #153
Hi @dlearningfr, thank you for highlighting this, it was brought up before at #99.

I am personally not sure where the docs are located for the package that the website ran on, but it would be great if we could start bringing it back up.

@Qoraiche would know more about where those are at currently or if it was a little more custom than regular docs systems :)

I was going to suggest that there is

[2021-05-18 21:55] alexjustesen commented on #153
@ReeceM thank man.

I'll be opening up https://laravelpackages.org to the masses next week so invites are closed for now. Best to follow laravelpkgs on Twitter for updates.

[2021-05-18 22:02] ReeceM commented on #153
That's awesome @alexjustesen, also glad I did check in a way.

It's good to know then. Hopefully we can move the docs for this over there. Or have a fallback to it. 👍

[2021-06-18 15:28] wawanneutron commented on #63
same problem 😢.
Any solution for this? I am also getting the same

[2021-06-21 21:18] ReeceM commented on #63
📢 Just to provide some feedback. 📢

I have had some time to test out the idea I had to be able to detect/guess relations that are on models, as this is where the issue comes in, and to try and initialize those relations as well.

Through testing, the initial method is lending itself to limiting the total number of relations searched to at most 2, this is because to actual do it further would resul

[2021-06-25 22:10] ReeceM commented on #21
Currently with regards to the issue #63, this usage of a separate table for testing might be of use as it will be loading relations internally of the package for calls to relations if they exist and generate factory values.

I am also thinking that this would require the install command to run the `artisan:migrate` command so as to insure that the SQLite database is synchronized with the actual DB

[2021-06-25 22:11] #102 closed

[2021-06-28 06:26] ReeceM commented on #63
Hi all that have commented on the issue or had this issue, I would like to see if those who had the issue are able to make use of the branch version to test in their Laravel apps.

You can spin up a new Laravel app or try it in one already, you can change the version to `dev-fix/issue-63-loading-relations` in the composer file and run `composer update`, it should require the branch and not the tag

[2021-07-02 09:02] jornwildenbeest commented on #153
Any updates on the documentation?

According to issue #99  the documentation is offline for over a year now.

[2021-07-02 16:58] ReeceM commented on #153
Hi there @jornwildenbeest, at present there isn't an immediate update about the current state of the documentation. It is unfortunate that it has been unavailable for a period of time and possibly discouraging to end users.

For the time being is there something specific that you need help or direction with regarding the package? I am happy to help and answer questions you have.

[2021-07-05 06:59] jornwildenbeest commented on #153
Hi @ReeceM, thanks for your quick response!

There is nothing you can help me with right now.
I was just wondering if the documentation will be available any time soon.

Since I have an application that sends out mails to different clients, I was trying to see if I could use this package to handle the e-mail templates so they can be dynamic and users can change them.

Havent tried the package yet,

[2021-07-05 08:22] ReeceM commented on #153
Hi @jornwildenbeest, with regards the docs being available soon, I am looking at documenting the functionality over the next few days. So they should be initially available in the readme or a docs dir.

With regards to your use case, I am not sure if you are wanting users to edit individual templates and be scoped to what they can see. That isn't immediately available in the package as there isn't

[2021-07-06 12:30] jornwildenbeest commented on #153
Hi @ReeceM,

For the time being, me and my colleagues are the only ones editing the templates. so there is no "restriction" per user needed for now.  maybe in the future but not for now.
Right now we are editing the templates within .blade.php files. So every time we have to change a template, we have to edit the template, push to git and then deploy to live.
I was hoping we can speed up that proc

[2021-07-13 12:39] zainawan99 opened #162 "After install some error coming"
php version :7.3
laravel version :8
![image](https://user-images.githubusercontent.com/24542584/125452893-79564c55-9fcb-4592-a50d-8a8eee9a9c61.png)
![image](https://user-images.githubusercontent.com/24542584/125452957-4f5a57e6-6fea-4a03-9bfd-a8227a84fb29.png)

[2021-07-13 13:58] ReeceM commented on #162
Hi @zainawan99,

would you be able to provide the version of the library that you are working with at the moment? if it's v3 or a dev-master branch?

Also would it be possible to provide more context for the mailable? Are you setting the recipient in the mailable or is it only coming from the defaults?

Also was this possibly while sending a test email?

Thanks
Reece

[2021-07-14 04:03] zainawan99 commented on #162
"qoraiche/laravel-mail-editor": "^3.2",

[2021-07-14 06:37] ReeceM commented on #162
Hi @zainawan99, thank you for the version on the package.

At what point of using the package did this error happen?

[2021-07-14 10:49] zainawan99 commented on #162
i m open the mail-eclipse URL then face this issue and remove error line number to email then run fine and some pages required mail-able email.

[2021-07-16 13:25] #63 closed

[2021-07-16 13:51] ReeceM commented on #162
Hi @zainawan99, thanks for that. I will try to see if I can reproduce this myself.

[2021-07-16 14:26] ReeceM commented on #153
Hi @jornwildenbeest,

The current use that you and your team will be using it will definitely work in having just the team. For pushing to git you would still have to do that when saving the final templates, but if you are editing them, using the git repo to sync between dev will work as the config file is saved to the disk under the `Mail` dir. Once that has been shared, another dev can see the l

[2021-07-16 14:28] ReeceM commented on #84
This is resolved with the latest versions `v3.2` and `v2.4`

[2021-07-16 14:28] #84 closed

[2021-07-16 21:05] ReeceM commented on #63
Hi all, we are happy to note that the versions [3.4](https://github.com/Qoraiche/laravel-mail-editor/releases/tag/v3.4.0) and [2.3](https://github.com/Qoraiche/laravel-mail-editor/releases/tag/v2.3.0) each have a fix for this issue.

Thank you all for being patient for the fix and also for initially raising the issue and providing more information about it so that it could be sorted out.

Please f

[2021-07-16 21:13] #41 closed

[2021-07-16 21:15] ReeceM commented on #68
I don't think I have seen this issue anymore, it can be reopened if there is an issue

[2021-07-16 21:20] ReeceM commented on #73
Just noting that this is still an issue. It should be possible to handle this by wrapping the loading part of the call in a `rescue` callback or a `try catch` and return a response code that can be handled on the front end or the view file.

[2021-07-16 22:08] Qoraiche commented on #100
Hey, sorry for the late reply on this,
This issue happens because for the no markdown templates we are basically using the built-in WYSIWYG plugin to preview/render blade templates and not actually compiling it as we do for a markdown template, so you need to use the full image url (without using the asset or mix function) in order to preview it, anyway i have added this to our future improvments.

[2021-07-16 22:23] Qoraiche opened #164 "HTML templates compiled previews"
**Is your feature request related to a problem? Please describe.**
https://github.com/Qoraiche/laravel-mail-editor/issues/100

**Describe the solution you'd like**
As we are doing for markdown previews, we need to do the same for HTML templates and render compiled templates instead of the static TinyMCE previews

Thanks,
Qoraiche

[2021-07-18 11:23] Qoraiche commented on #62
hello, just an update on this, the way everyone fixes this issue as seen in the previous comments makes me believe that it has nothing to do directly with routes but more with configuration and construction building that @ReeceM keeps fixing, for the time being, I will close this until we got a reopen.

Thanks,
Qoraiche

[2021-07-18 11:23] #62 closed

[2021-07-18 11:31] Qoraiche commented on #153
Hi @ReeceM,

Yes, that would be great, unfortunately, I have lost all the docs we had in maileclipse.io :\, but it's okay, your idea is awesome we can make use of https://docusaurus.io and start iterate on it starting with an installation page

[2021-07-18 15:03] ReeceM commented on #153
Hi @Qoraiche

No worries about the docs 👍. I think an installation page and basic troubleshooting then would be a good place to start.

I forgot to note that Docusaurus uses React, there is also VuePress that runs with Vue. I think the only thing then would be the preference for the repo for being maintainable.

[2021-08-02 16:26] dominservice opened #165 "Not support Laravel 8 with PHP 8"
## Describe the bug

  Problem 1
    - This package requires php ^7.3 but your PHP version (8.0.7) does not satisfy that requirement.
  Problem 2
    - fzaninotto/faker v1.9.2 requires php ^5.3.3 || ^7.0 -> your PHP version (8.0.7) does not satisfy that requirement.
    - fzaninotto/faker v1.9.2 requires php ^5.3.3 || ^7.0 -> your PHP version (8.0.7) does not satisfy that requirement.
    - fzanin

[2021-08-06 11:48] adriano461997 opened #166 "Environment Not Allowed"
## Describe the bug
I've followed all the steps but I keep giving this error.

## Laravel Version:
Laravel 8.53.1

## MailEclipse package version:
name     : qoraiche/laravel-mail-editor
descrip. : Laravel Mailable Editor
keywords : laravel, laravel-mail, laravel-mailable, mailEclipse, mailable, mailable-editor, markdown
versions : * v3.4.1
type     : library
license  : MIT License (MIT) (OSI appr

[2021-08-06 14:59] ReeceM commented on #166
Hi there Adriano,

the reason for this error is the configuration for the Laravel `APP_ENV` value  (the Laravel environment)

Would you be able to share what you have it set to?

The package will work in

[code]

If this error happens, it would most likely be that the App isn't in one of those environments? Maybe not listed in english in the config file?

[2021-08-06 15:04] ReeceM commented on #165
Hi there @dominservice

Thank you for highlighting this, we will have to make sure that those dependencies are suited to PHP 8.x

[2021-08-08 19:44] alexv96 opened #167 "Is there any documentation on how to use it or is there only video of the demo?"
Or an example in git uploaded that I am interested in this library, because I already installed the library but I do not understand what comes out of the video so I would like to make an example similar to the video to test and see if it works for what I need. Because seeing it at a glance as it serves me but I can not understand where they leave the other templates in the video.

Or should I guid

[2021-08-08 20:10] ReeceM commented on #167
Hi there @alexv96

Thanks for the interest in the package, at the moment I am working on rebuilding the docs, as also noted in issue #153.

Overall I can share some points about what the package will do for you here and what is created.

---

Once you have installed the package, it will work in your dev environments. It will be available under the path `localhost:8000/maileclipse/mailables` after

[2021-08-08 20:36] Qoraiche commented on #167
Thanks for this @ReeceM,

Hello @alexv96, you can check this video as well:
https://www.youtube.com/watch?v=QFgEGNBY3FI even if the installation steps are bit outdated, but it gives a good explanation of how to use the package.

Cheers

[2021-08-19 11:34] adriano461997 commented on #166
Thank you very much, solved my error.

[2021-08-19 11:35] #166 closed

[2021-08-19 11:36] ReeceM commented on #166
Hey @adriano461997 I'm glad it's sorted 👍 😄

[2021-09-11 18:51] Tiththa commented on #153
You can also check https://www.gitbook.com @ReeceM

[2021-09-12 14:23] hmreumann opened #168 "Endless User Email Verification"
## Describe the bug
After I added the User $user model to the constructor of a Markdown Email, when I refresh the page it starts sending Email Verifications.

## Reproduction steps
Steps to reproduce the behavior:
1. Create a Mailable.
2. Added a User $user to the constructor.
4. Click Mailables. And it starts sending Verification Emails.

## Laravel Version:
Laravel Framework 8.57.0

## MailEclip

[2021-09-12 18:15] ReeceM commented on #168
Hi @hmreumann, thank you for raising this.

With your User model that you are using, are you making use of the `Illuminate\Contracts\Auth\MustVerifyEmail` contract?

If so, then I have a relatively good idea as to where the bug might be originating from then.

---

With regards the emails that will be sent out. The emails would be sent to users that are generated from the Faker library, it shouldn

[2021-09-12 21:55] hmreumann commented on #168
Ok, Thanks for the response.I´m not using the MustVerifyEmail.

[2021-09-13 21:15] ReeceM commented on #168
Hi @hmreumann

I have been able to reproduce the bug my end, it only happens when the user model has the `MustVerifyEmail` added to it as an interface, this is relatively default to it.

The reason for it triggering this is because of the addition of the hydrations to Model relations as it iterates through all the methods on a class to see what it has as a return type.

Because the method to send

[2021-09-13 21:45] hmreumann commented on #168
Hi @ReeceM , I did what you asked and it didn't solve the problem.
I put both the .env and in the config file the value 0, but it doesn't seem to be that.
As I told you, now the MustVerifyEmail Interface in my User Model isn't enabled.
I don't know what other info I can give you. Maybe I can try to reproduce the bug on a new repository.

[2021-09-13 22:02] ReeceM commented on #168
**If you can reproduce the bug in a new repository that would be great 👍**

As currently the only way I have it reproducing is that it is using the interface. But that is with a default Laravel install.

[2021-09-13 22:36] ReeceM commented on #153
Hi @Qoraiche, would you prefer we go with the Gitbook option?

[2021-09-13 22:58] Qoraiche commented on #153
Gitbook is good but that there are a few must use features that need an upgrade :/ so I think we'll go with an open-source solution like Docusaurus, I will set it up this week with the repo and map it with the Maileclipse domain.

Thank you guys for your suggestions

[2021-09-13 23:03] ReeceM commented on #153
I have some of the Docusaurus file structure setup at the moment, just haven't pushed it yet as I was still working on it, but also had a some stuff to attend to.

Should I push it up then rather then there is the base to work or adjust from?

[2021-09-13 23:09] Qoraiche commented on #153
Awesome 👏 yes you can push it whenever you feel ready to do so, just one question do we have a basic start installation page and basic troubleshooting? because like that we can start iterate on it easily.

[2021-09-13 23:14] ReeceM commented on #153
I had started with an intro and getting started, but hadn't done any troubleshooting page.

[2021-09-21 04:35] cadentic opened #175 "Adding segmentation and workflow mailers"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

## Describe the solution you'd like
Adding segmentation and workflow mailers

## Additional context
we can easily add segmentation and workflow mailer automation within any email sending app. can we have such a thing here with payment or donation links and social share?

can w

[2021-09-23 06:58] ReeceM commented on #175
Hi @cadentic,

Thank you for your feature suggestion. Would it be possible for you to provide an example of what you are referring to? Or an example of the other emailing app?

Just want to know that everyone is on the same page :)

[2021-09-23 06:59] ReeceM commented on #168
Hey @hmreumann, hope you are well,

Just wanting to know if you have been able to get a reproduction repository set up? 😄

[2021-09-23 22:54] hmreumann commented on #168
Hallo, how are you? @ReeceM I couldn't. We were working with Laravel Sail, but I installed everything on a fresh application with at least both models that threw the error, but it works perfect. So it must be something else of the app we are building that is colliding with some part of Mail Eclipse.

I won't remove the repo, so maybe later when I have some time, I can try it better.

[2021-09-24 10:40] sainath-embedtech opened #177 "ErrorException Undefined array key "string""
getting this error
Illuminate\Foundation\Bootstrap\HandleExceptions::handleError
vendor/qoraiche/laravel-mail-editor/src/MailEclipse.php:647

## Laravel Version:
using laravel 8.0

## MailEclipse package version: 3.4.1

## Screenshots (if applicable)

![image](https://user-images.githubusercontent.com/83855777/134661729-57261e36-7876-4979-bdea-3605c86fbc26.png)

[2021-09-24 11:11] sainani8897 opened #178 "ErrorException Undefined array key "string""
getting this error
Illuminate\Foundation\Bootstrap\HandleExceptions::handleError
vendor/qoraiche/laravel-mail-editor/src/MailEclipse.php:647

## Laravel Version:  8.0

## MailEclipse package version: 3.4.1

## Screenshots (if applicable)

![image](https://user-images.githubusercontent.com/83855777/134661729-57261e36-7876-4979-bdea-3605c86fbc26.png)

[2021-09-24 11:12] #177 closed

[2021-09-24 11:22] ReeceM commented on #178
Hi @sainani8897

thank you for raising the issue. Will have a look in a little bit.

In the meantime, would it be possible to let me know in the meantime if you have string type hint in the model constructor?

[2021-09-24 21:19] cadentic commented on #175
mautic openemm

[2021-09-25 19:51] ReeceM commented on #175
Hi @cadentic

I had to search that as it was relatively vague. But looking further it seems that the OpenEMM is a marketing system and the codebase of MailEclipse from what I can tell isn't targeted at that?

Maybe @Qoraiche would be able to have a look and also share what route can be taken on this, the one that would be better suited to the request.

[2021-09-25 19:54] ReeceM commented on #168
Hi @hmreumann I'm well.

That is okay if you weren't able to then.

Because from the way the code behaves to load up the relations dynamically on it's own, I know that if the person has the trait enabled on a user model it is bound to trigger the function call to send the verification mail.

What I am going to do is add it to an exclusion list on the function anyway to prevent further issues as it

[2021-09-26 22:51] hmreumann commented on #168
Great @ReeceM  thank you. I'll test it then and tell you the results.

[2021-09-27 01:07] #178 closed

[2021-09-28 09:21] cadentic commented on #175
open EMM is an email marketing system and it is java and oracle based but workflow mailers and segmentation help to maintain compliance properly while we will be doing a mass mailing. mautic is PHP based integrated with gatsbyjs , mjml with lots of plugins it works similarly to open EMM.

[2021-09-28 14:49] #168 closed

[2021-09-28 15:08] hmreumann commented on #168
@ReeceM I've just tested my original issue and now it is solved. Thanks for your work!!

[2021-09-28 15:09] Qoraiche commented on #168
Awesome!

[2021-09-28 15:14] ReeceM commented on #168
Awesome 🎆

[2021-10-01 00:16] Qoraiche commented on #175
sounds like a good idea @cadentic, but at the moment we are not planning to turn the package into a marketing tool, as a matter of fact, we may add the support to develop mailable views based on the MJML framework and also preview it.

[2021-10-01 00:16] #175 closed

[2021-10-01 10:04] limsocheat commented on #92
Hi, any news about how to implement with nwidarts modules?
Thanks.

[2021-10-11 16:00] vesper8 opened #184 "Environment Not Allowed"
I noticed today that in production, if I try to run `php artisan route:list` from the CLI I get the error "Environment Not Allowed"

I've read https://github.com/Qoraiche/laravel-mail-editor/issues/166

And I understand why I'm getting the error, adding `production` to your package's config file makes this error go away.

However I feel like this is a bug? I should be able to disable your Mail Edi

[2021-10-21 08:44] jornwildenbeest commented on #153
Hi @ReeceM,

So my main problem is that when I try to use my ``Submission`` class within the Mail class like this:
[code]

I get the following error when I try to access /maileclipse/mailables/

[code]

Because when loading the mails within /maileclipse/mailables/, it automatically passes the class ``Mocked`` as the first variable in the constructor, but because i want it to be Submission, it brea

[2021-10-21 09:04] ReeceM commented on #153
Hi @jornwildenbeest,

I think because it can’t find a factory instance of the model, it reverts back constructing the mailable with the fallback class Mocked

if you try adding the trait for the factory helpers and also create a factory it might help fix that.

[2021-10-21 19:31] ReeceM commented on #153
Hi @jornwildenbeest, sorry for responding a little late.

You would add the trait if you are using Laravel ^8.x, or if you have lower you would create a Factory. To add the trait, you can included it after the SoftDeletes trait.

You can read the Laravel docs on that: https://laravel.com/docs/8.x/database-testing#defining-model-factories

So it would end up like `use SoftDeletes, HasFactory;` You

[2021-11-14 14:47] WhiskeyM1ke commented on #21
I'm having this same issue.  Each load of MailEclipse creates numerous 'App\Models\User' and numerous 'App\Models\Room' which aren't even related.  The created rows are persisted in the database, and I have to go through each time and run MySQL queries to remove them.

[2021-11-14 15:04] ReeceM commented on #21
Hi @WhiskeyM1ke

Would you be able to let me know what version of Laravel you are using and the version of the package please?

[2021-11-14 15:13] WhiskeyM1ke commented on #21
Laravel 8.6 and package ^3.5

I was just embracing it for now, but after creating a Mailable, the package kept loading and created somewhere around 4,000 Users.  Had to close the browser window.

[2021-11-14 16:20] ReeceM commented on #21
Thank you for the info.

With regards to creating so many users that is strange as I have it installed fresh in a new package and it doesn't have this behavior. I know that there will be newer PK values in a db but it will be clear after the transaction is completed.

Would you be able to create a reproduction repository if this isn't an open source repo I can look at and post it here. It will be

[2021-11-15 01:52] WhiskeyM1ke commented on #21
Kinda new to git.  I've made my own private project repos (this being one of them).  I'll try to figure out how to do this and get back to you.  Thanks!

[2021-11-15 05:04] ReeceM commented on #21
Hi @WhiskeyM1ke sorry that you were running out of time.

If possible after you have got time you can `git clone` the private repo, then create a new repo on GitHub and set it as public. Don’t initialize with a readme or other stuff.

Then there is a page that has instructions on adding things to the repo, you will want to use the option for an existing repository. So `git add origin …` and so for

[2021-12-02 14:07] anishsarkar opened #185 "Mail Stubs are ignored"
## Describe the bug
Mail Editor web interface generation of mailables seems to ignore and updates to the mail.stub

## Reproduction steps
Steps to reproduce the behavior:
1.  Publish the stubs by :

2. Go to the stubs directory. Edit the mail.stub. I added

- on top

- in the class

Save the stub.

2. Click on ** Add Mailables ** on ** Mailables ** menu.
4. Generate a new markdown Mailable followi

[2021-12-02 14:13] ReeceM commented on #185
Hi there @anishsarkar,

thank you for highlighting this. The stubs are a new feature in Laravel v8. But the mailables are made using the command line interface from artisan. So not sure why that is happening.

Will have a look why then it isn't working

[2021-12-02 18:10] anubhav217 opened #186 "Add support for language files"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context or screenshots about the feature request here.

[2021-12-02 18:37] ReeceM commented on #186
Hi @anubhav217

There isn't any information on this issue. Would you be able to please expand on this.

I may close it in favor of other issues and PRs that exist on this already :)

[2021-12-02 19:22] hmreumann opened #187 "Uncaught SyntaxError: "" string literal contains an unescaped line break"
## Describe the bug
I have a mailable that uses the User Model, and some other Models.
When I try to edit the mailable I have this error in the console:
"Uncaught SyntaxError: "" string literal contains an unescaped line break"
After I remove the user model from the mailable the error disappears.

## Laravel Version:
8.73.1

## MailEclipse package version:
v3.5.0

## Screenshots (if applicable)

!

[2021-12-02 19:35] ReeceM commented on #187
Thanks @hmreumann.

Would it be possible to provide the Mailable class code and the view code?

The below repo doesn't have that code in the screenshot. https://github.com/hmreumann/laravel-mail-issue-recreation

[2021-12-02 19:37] hmreumann commented on #187
I'm sorry but that recreation is old @ReeceM

[2021-12-02 19:40] ReeceM commented on #186
I will be closing this issue as there seems to be a set of 'serial' issues opened across different repo's using the same pattern of very little information and no responses.

[2021-12-02 19:40] #186 closed

[2021-12-02 19:43] ReeceM commented on #187
Okay. I thought that might have been an older one 💯 :)

With the new one it sounds like there might be something being returned that shouldn't be inside the view. I think there might be strings being injected at run time.

[2021-12-02 20:08] ReeceM commented on #187
Would it be possible to share the view file and the mailable class? I would like to see if I can test that locally on my test app for the package. @hmreumann 👍

[2021-12-02 20:10] hmreumann commented on #187
@ReeceM Can we somehow make a call and I can show you. I'm working on a private repository.

[2021-12-02 20:19] ReeceM commented on #187
@hmreumann I could share my discord or my twitter if you would prefer to dm it that way, it is late evening here so not sure your timezone.

But I am happy to do that then if you want to set a time.

[2021-12-02 20:20] hmreumann commented on #187
@ReeceM I've just sent you a twitter message.

[2021-12-02 21:48] ReeceM commented on #187
Hey @hmreumann, found the issue, but will need to have a look at why specifically it may be happening.

[2021-12-02 21:50] hmreumann commented on #187
Great @ReeceM I'm available as you need. You are awesome.

[2021-12-02 21:59] ReeceM commented on #187
Could you try and remove the address field from the factory? So maybe just set it to `$this->faker->streetAddress(),` where you were using `$this->faker->address(),`

This isn't a user side bug, but it will help me to see if it is reproducible because of this type of text format.

[2021-12-02 22:09] hmreumann commented on #187
I'm not using $this->faker->address() , actually I'm using $this->faker->unique()->streetAddress().

[2021-12-02 22:14] hmreumann commented on #187
That was a bit difficult to find. Thankyou very much @ReeceM

[2021-12-03 09:31] anishsarkar commented on #185
My bad! I also needed to update "markdown-mail.stub" so that both types of mail html as well as markdown mails are updated.

[2021-12-03 09:31] #185 closed

[2021-12-03 19:21] ReeceM commented on #187
Awesome, that confirms what I thought might be the reason. Will make a pre-release that you can try and then let me know if it's working 👍

I will be making a fix that will let you put it back to `address()`.

The reason for the issue was that `address()` has a newline character in it and the frontend the side with javascript isn't interpreting it properly.

[2021-12-03 19:27] ReeceM commented on #185
Hey @anishsarkar

No worries, glad that you have it sorted then 💯

[2021-12-04 13:47] #187 closed

[2021-12-05 18:17] anubhav217 opened #189 "Environment Not Allowed"
## Describe the bug

## Reproduction steps
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
4. See error

## Laravel Version:

## MailEclipse package version:

## Screenshots (if applicable)

---

<details>
<summary> <b>Additional information</b></summary>

</details>

[2021-12-05 18:22] ReeceM commented on #189
Please refer to #184 and https://github.com/Qoraiche/laravel-mail-editor/issues/166#issuecomment-894320153

Please note I am closing this as you are repeating this pattern of 'serial' issues on multiple repositories without information. Please add information on your next issue or I _will_ request that you are restricted from this repository.

It would be interesting to find out if this is registe

[2021-12-05 18:22] #189 closed

[2022-01-06 05:02] sachinkumar121 commented on #1
This issue is still in v3.5.1 i.e latest release. I tried with Laravel framework v8.40 and it returns the same error. I even try with `dev-master` branch as well.

[2022-01-06 05:43] ReeceM commented on #1
Hi @sachinkumar121, thank you for highlighting this. Would it be possible to provide more detail? As I have found usually this is because the constructor is using a class sometimes that cannot be created.

If you can provide a error message and a reproduction it would be great.

[2022-01-06 05:56] sachinkumar121 commented on #1
Sure @ReeceM. I would like to share two issues.
Here is the thing. I have an existing Laravel project where I have a lots of Mail classes. I installed this package and open "http://localhost:8000/maileclipse/mailables" on my local system.

Earlier, it gives the error of `Class "Database\Factories\WebAppDomainFactory" not found`. I checked my `WebAppDomain` model and remove `hasFactory' trait.

But

[2022-01-07 06:41] sachinkumar121 commented on #1
After 3 hours of investigation, I come to know the real reason behind this issue.

in my case the maileclipse's config's factory value is true. so all the conditions of the resolveFactory function of the MailEclipse model are false because I don't have a factory class associated with my Model.

https://github.com/Qoraiche/laravel-mail-editor/blob/5871e9ebdf2ab690586dba81a040caa115287bab/src/MailEc

[2022-01-07 11:45] ReeceM commented on #1
Hi @sachinkumar121
Thank you for highlighting where the issue is coming from.

I’ll reopen this for now, will have a look later.

But in the meantime if you would like to, you are welcome to PR an exception/warning for the missing factories.

[2022-02-07 12:44] toRichie opened #192 "Please make the editor screen as Fullscreen (container-fluid)"
## Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Additional context
Add any other context or screenshots about the feature request here.

[2022-02-07 20:39] ReeceM commented on #192
Hi @toRichie,

Thank you for opening the request. I notice that there is only the title of the issue filled in and not the other sections. It would make it easier if you could provide a good motivation for this request, or if you would like to make a contribution to the project that would also be welcomed once it's cleared up to which editor.

[2022-02-09 07:10] AEK-BKF commented on #79
Any updates here ?

[2022-02-09 16:37] ReeceM commented on #79
Hi there @AEK-BKF, I will see if it is possible to push out the changes to make it possible to show this option this evening maybe. It wasn't an immediate thing at the moment since 2020 sometime

[2022-02-09 18:11] ReeceM commented on #165
Hey @dominservice the package recently updated, please confirm if it is installing now. It is installing on Laravel 9, if you are using that version now.

[2022-02-10 06:42] #1 closed

[2022-02-11 15:25] ReeceM commented on #79
Will be made available in version 3 and version 4

[2022-02-11 16:01] AEK-BKF commented on #79
@ReeceM Thank you dear :)

[2022-02-15 14:37] AliKHODR opened #199 "syntax error, unexpected token ")""
## Describe the bug
I get `syntax error, unexpected token ")"` when i go to http://localhost/maileclipse/mailables. but everything else seems to work just fine.

## Reproduction steps
Steps to reproduce the behavior:
1. Go to : http://localhost/maileclipse/mailables
2. See error : syntax error, unexpected token ")"

## Laravel Version:
Laravel 9

## MailEclipse package version:
v 4.0.2

[2022-02-15 14:39] ReeceM commented on #199
Hi there @AliKHODR

Are you able to provide more information on the line numbers and such of the error?

[2022-02-15 14:44] ReeceM commented on #199
Its also possible with ignition installed by default to generate a public share of the error, it will auto delete after a few days. This may be better too @AliKHODR 😄

[2022-02-15 14:50] AliKHODR commented on #199
https://flareapp.io/share/oPR4RkJ5#share

[2022-02-15 14:55] ReeceM commented on #199
It is thank you 💯 , PR #200 should fix it

[2022-02-15 14:57] AliKHODR commented on #199
Fantastic !! thank you guys !!

[2022-02-15 19:14] #199 closed

[2022-02-27 14:45] vesper8 commented on #23
+1 Use Nova extensively, would love a bridge between this package and Nova please

[2022-02-27 14:49] vesper8 opened #203 "Does v4 no longer support Laravel 8?"
I see in your changelog that v4 comes with "Laravel 9 support" but it doesn't mention that Laravel 8 is no longer supported. Yet in your composer.json you seem to explicitly require symfony versions that are only compatible with Laravel 9.

That means that those of us that can't yet upgrade to Laravel 9 will no longer receive updates? Wasn't it possible to support both L8 and L9 in v4?

[2022-02-27 14:51] ReeceM commented on #203
Hi @vesper8, v4 does support Laravel 9 only.  It that is mainly because of the PHP requirements at the moment.

v3 is still getting updates and fixes. So anything in the main branch is getting ported back to Laravel 8 too.

But yes, there isn't explicit mention of this fact, sorry if there was confusion over this :)

[2022-03-15 22:04] domjanzsoo commented on #162
Is there any solution for this? Encountering the same error when trying to open the dashboard for the first time.

[2022-03-16 13:46] ReeceM commented on #162
Hi @domjanzsoo, I know I tried to reproduce this but there was limited information about how the setup was for the OP. I did get it to work once, but it was more of an oddity in the default laravel configuration.

Are you able to share information if you have any default email users set, or if you are loading up the mailables that are already in your application with constructor properties?

[2022-03-17 12:18] domjanzsoo commented on #162
Hi Reece,

Thanks for getting back to me. Can you give me an email address,  where I can contact you?
Thanks.

[2022-03-17 16:07] ReeceM commented on #162
Hi @domjanzsoo, the configuration you describe sounds about right for the issue to occur.

The MailEclipse will try to hydrate the constructor args with the types that are returned in the `ReflectionClass` so if it is an object or type that it knows of it will try to populate it with default values. If it isn't it loads a dynamic class that just mocks 'fake' data for objects. But that doesn't seem

[2022-03-17 16:16] domjanzsoo commented on #162
Yeah, if you don't mind. It was a colleague who decided to implement this package on our emailing microservice. He left the company since then,  and because we never really used this tool ,it took me a while to debug the eclipse side of the package. I'll give it shot to your solution and we'll see where that goes. Thanks, again.

[2022-03-17 16:42] domjanzsoo commented on #162
You were right, the dockblocks are all written already in the mailable class, but the  _from_   param tag didn't have any type. Thanks again.

[2022-03-21 09:06] blackcore003 commented on #1
when i run this command `php artisan laravel-mail-editor:install`
this error show .There are no commands defined in the "laravel-mail-editor" namespace
please help me out

[2022-03-21 09:25] ReeceM commented on #1
Hi @blackcore003 is this after the package has been installed?

Are you able to provide more information?

This may need to be a new issue rather.

[2022-03-21 09:32] blackcore003 commented on #1
i tried to follow this link
https://github.com/Qoraiche/laravel-mail-editor
i install package on 2.0v
after completed installation package when i run this command `php artisan laravel-mail-editor:install`
then i face this error` There are no commands defined in the "laravel-mail-editor" namespace.`

[2022-03-21 09:34] blackcore003 commented on #1
i published vendor folder using this command  `php artisan vendor:publish --provider="qoraiche\mailEclipse\mailEclipseServiceProvider"` but i unable to open this link http://127.0.0.1:8000/maileclipse/mailables or http://127.0.0.1:8000/maileclipse page not found

[2022-03-21 09:42] sachinkumar121 commented on #1
Run `php artisan route:list` to find the route(s) of maileclipse.

[2022-03-21 09:56] ReeceM commented on #1
There seems to be more of a namespace issue in the package on the v2 branch.

Also running the `route:list` command will also have an error if the package hasn't loaded fully.

I am just busy at the moment and will have a look later.

[2022-03-21 09:59] blackcore003 commented on #1
i cant find any route of maileclipse in route:list

[2022-03-21 20:15] ReeceM commented on #1
Hi @blackcore003 please could you run `composer show qoraiche/laravel-mail-editor`, I just want to confirm what version you are using of the package.

Also is this installed I take in an older version of Laravel?

[2022-03-21 20:16] ReeceM opened #204 "`php artisan laravel-mail-editor:install` No Command defined"
when i run this command `php artisan laravel-mail-editor:install`
this error show .There are no commands defined in the "laravel-mail-editor" namespace
please help me out

_Originally posted by @blackcore003 in https://github.com/Qoraiche/laravel-mail-editor/issues/1#issuecomment-1073656615_

[2022-04-20 20:32] nosfas opened #205 "v3 Error installing on Laravel 8"
## Describe the bug
When trying to install on Laravel, composer fails.

When running the composer command the following message is shown.

## Reproduction steps
Steps to reproduce the behavior:
1. Run composer require qoraiche/laravel-mail-editor:3

## Laravel Version:
Laravel Framework 8.83.7

## MailEclipse package version:
versions : * v3.0.0

[2022-04-20 20:43] ReeceM commented on #205
Hi @nosfas,

Thank you for highlighting this issue.

This seems to be the second time this has happened.

Would you be able to tell me the PHP version you are running at the moment?

[2022-04-20 21:57] ReeceM commented on #205
Hi, please can you install

`composer require qoraiche/laravel-mail-editor:^3.4` it has the fix already for a namespace error. At present it is only grabbing a fixed version of version 3, not one of the latest v3 tags.

That will remove the install error

[2022-04-20 21:57] #205 closed

[2022-04-20 23:11] nosfas commented on #205
That fixed it.
Thank you.

[2022-06-05 05:03] sahil0571 opened #208 "Website is down."
Hello mailclips creator and contributors,

Its humble request to restart the documentation website as soon as possible please it will be useful for us.
And please let me know where can I find the documentation until then.

[2022-06-21 09:05] jornwildenbeest opened #209 "Too few arguments to function App\Mail\AdminEmail::__construct(), 1 passed and exactly 3 expected"
## Describe the bug
When trying to access /maileclipse/mailables i get the following error:

[code]

Stack tace:

[code]

The mail class I am using:

[code]

## Laravel Version:
v9.17.0

## MailEclipse package version:
v4.0.3

## PHP version:
v8.0.19

[2022-06-21 11:30] jornwildenbeest opened #210 "Template preview not working?"
## Describe the bug
Maybe I am missing someting, but I think the template preview is not working when you go and use the preview mode when editing a template directly (not going through a mailable). When I click the preview button it just shows a white black page in the text editor.

url: https://laravel.test/maileclipse/templates/edit/yourtemplate.

stacktrace:

[code]

## Reproduction steps
Step

[2022-06-21 11:31] #209 closed

[2022-06-21 11:37] ReeceM commented on #210
Hi @jornwildenbeest thank you for opening the issue.

I will have a look at this and revert back 👍

[2022-06-21 11:38] ReeceM commented on #209
Hi @jornwildenbeest, was this closed in favour of the other issue?

Or was this one resolved?

[2022-06-21 11:42] jornwildenbeest commented on #209
Hi @ReeceM, this one was resolved.

I believe it had something to do with some old mail classes that had some old classes in the constructor method, without a factory and hasFactory trait etc..

I remembered I had this before and asked about in issue https://github.com/Qoraiche/laravel-mail-editor/issues/153,

Once I followed the steps exaplained there it started working again.

[2022-06-21 11:43] ReeceM commented on #209
Awesome, I'll have a look into the other one opened in a little bit 👍

[2022-06-23 20:27] ReeceM commented on #210
Hey @jornwildenbeest,

Please could you try this fix before I tag it as a release :+1:

[code]

[2022-06-24 15:43] HeartlandTechie opened #211 "Return value error on template?"
Qoraiche\MailEclipse\MailEclipse::getTemplate(): Return value must be of type ?Illuminate\Support\Collection, none returned

## Reproduction steps
Steps to reproduce the behavior:
1. Go to create template.
2. Go through steps to create template, name/description - get Axios 500 error . . . assuming it didn't create
4. Click on template that it thinks was created to edit and get error message.

##

[2022-06-25 10:43] jornwildenbeest commented on #210
Het @ReeceM, thanks for the reply. I will try it later today and let you know!

[2022-06-25 11:10] ReeceM commented on #211
Hi @HeartlandTechie

The version that you have quoted there is the branch number that I committed on this last week and isn't released?

Is this correct?

[2022-06-25 11:10] ReeceM commented on #210
Thank you, feedback would be great

[2022-06-25 13:03] jornwildenbeest commented on #210
@ReeceM I can confirm it is working! Which is great.

Except when you are using variables within the template. It then shows a notices that you can't use variables in the template preview mode, which is fine, I can understand why but it would be a great feature to use the factory to load the variables like you do with the maillables.

But we do need the connection between template and mailable to

[2022-06-25 14:17] ReeceM commented on #210
@jornwildenbeest I'm glad it is working then. Unfortunately there was a bit of regression and the new implementation was lost I think 🤦‍♂️

So loading the variables you are right with needing the mailable class to be able to link those properly.

But we do have a way to generate those details. I must just see if the reflection loader still works. It's the other part of the system that generates th

[2022-06-25 14:23] ReeceM commented on #211
Hi @HeartlandTechie,

I am unable to reproduce this error. Would it be possible to supply a log from the `laravel.log` file? Also maybe a repository link for a minimal setup to reproduce this error? This would really help :)

[2022-06-28 14:51] HeartlandTechie commented on #211
Yes, I put in the branch to try to fix the error . . . I get an Axios 500 error when creating a new template, so I suspect it's a permissions issue?

[2022-06-28 14:54] HeartlandTechie commented on #211
`{
    "message": "file_put_contents(/var/www/wbl/app/Mail/templates.json): Failed to open stream: Permission denied",
    "exception": "ErrorException",
    "file": "/var/www/wbl/vendor/qoraiche/laravel-mail-editor/src/MailEclipse.php",
    "line": 129,
    "trace": [
        {
            "file": "/var/www/wbl/vendor/laravel/framework/src/Illuminate/Foundation/Bootstrap/HandleExceptions.php",

[2022-06-28 19:09] ReeceM commented on #211
The error you are getting is a permission issue, I see that it is possibly running on an actual webserver? or is it inside an image?

The package does write to a json file under `app/Mail/`. Is it possible that you could create that file with read/write permission for that file only?

The other thing is that if you are running this on a server you would need to push / sync changes locally as any g

[2022-06-28 19:14] HeartlandTechie commented on #211
Yes, this is running on a server, I could see how the issues would be with permissions . .  any hints that you could add for users like setting the right permissions for editing the file?   I haven't dived too far into the code, but I'd wait until the file was written before you update the json file. . . . to avoid weird things like this.

[2022-06-29 07:56] jornwildenbeest commented on #210
@ReeceM Another idea might be to have the option to select a template when you are in the preview mode in mailable.

When you visit a mailable, the preview mode shows the template that is loaded through the build function in the mail class.

Maybe its a nice feature to have an select input field with all templates, and you can select which template you want to preview.

[2022-07-03 12:12] vigneshvickkyk opened #213 "Attempt to read property "email" on null"
ErrorException
Attempt to read property "email" on null
http://localhost/job/maileclipse/mailables

Illuminate\Foundation\Bootstrap\HandleExceptions::handleError
C:\xampp\htdocs\job\vendor\laravel\framework\src\Illuminate\Mail\Mailable.php:612

![image](https://user-images.githubusercontent.com/69624763/177039060-2a1c2297-1c01-4233-8d4d-1d696975a4b5.png)
please help!

[2022-07-03 12:44] ReeceM commented on #213
Hi there @vigneshvickkyk

It is possible that you don't have a default user set in the config file for the preview email.

Another place to check is the .env file of the Paracelsus app for the default from address

[2022-07-05 09:33] vigneshvickkyk commented on #213
@ReeceM  Thanks for your swift response. I have checked these files after your answered.

The real problem is my own mail functions in the App\Mail. So i have deleted all my mail functions and again write the mail functions , Its works very well now.

Again Thanks for your response.

[2022-07-05 09:33] #213 closed

[2022-07-08 08:02] vanrijs opened #214 "MailEclipse drops Meilisearch/Laravel scout records"
## Describe the bug
Hi all,

Installed MailEclipse last week now I noticed that is drops my Meilisearch/Laravel scout index files.
Only loading MailEclipse drops the indexes to im 100% sure it has something to do with this.

Any ideas?

## Reproduction steps
Steps to reproduce the behavior:
1. Go to /maileclipse
2. View your Meilisearch/Laravel Scout index files, they are empty

## Laravel Version

[2022-07-08 08:11] ReeceM commented on #214
Hi @vanrijs

Sorry to hear that the package is doing this, it clearly shouldn't be affecting other packages.

The only thing this sounds like is a possibility is that it is clearing db data for the mocking information.

If I could ask, could you do the following to establish where the bug is:

Use the maileclipse config and disable the usage of factories.

In all the mail ales, remove type hints t

[2022-07-08 08:50] vanrijs commented on #214
Thanks @ReeceM. Im doing some tests now.
Disabled factory option but no results.
I model binded this:
`public function __construct(Contract $contract) `and this keeps dropping my records.
Removed this bind now and doing some additional tests. More in a few hours from now :)

[2022-07-08 08:51] ReeceM commented on #214
Thank you, please keep me updated on what happens

[2022-07-08 10:42] vanrijs commented on #214
Hi @ReeceM. It has to do with the model bind.
My code now looks like this:
`    public function __construct($contract)
    {

        // model is already passed: its coming from an event listener
        if($contract instanceof Contract) {
            $this->contract = $contract;
        } else {
            $this->contract = Contract::with('responsible')->find(99475); // for editing mode, get fix

[2022-07-08 17:38] ReeceM commented on #214
Hi there @vanrijs,

So I would think that there would be a side effect from the package that when it creates a model using the factory. I am not sure if the scout package has a cascade side effect that drops data when the model is deleted as that is what the pacakge does after a factory is made...

What I'll have to do is to look though the other package to see what might be happening.

[2022-07-08 17:56] ReeceM commented on #214
So I may have to give this a bit of thought to get an idea of what to do.

Looking at the code there is a ModelObserver in the scout package that watches for deletes. Then clears out the index for that model. I suspect that if you are loading relations and other things like that it is possibly dropping those indexed details.

Do you think that it is possible to spin up a simple repository to creat

[2022-10-07 09:46] RJonwal opened #215 "axios.post is not a function"
## Describe the bug

Hii,
I installed the maileclipse package with laravel 9. I'm not able to create any new mailable class or template. whenever I try to create a mailable class or template and submit the form**, the same error occurred "axios.post is not a function"**
can you please help me with this issue?

only mailables  listing & templates listing is working,
not able to add any new template

[2022-10-07 10:07] ReeceM commented on #215
Hi @RJonwal

Thank you for opening the issue

I'll have a look at it today and come back

[2022-10-08 07:18] ReeceM commented on #215
Hi @RJonwal

Would you be able to let me know the setup of that laravel app? Was it just a default install or with one of the starters?

[2022-10-27 14:09] mtmSchoenberger opened #216 "Markdown Button save &gt;"
## Describe the bug
The markdown save wrong

## Reproduction steps
Steps to reproduce the behavior:
1. Edit an mailable
2. add Button and click update
3. Click on Preview

## Laravel Version:
Laravel Framework 8.83.19

## MailEclipse package version:
versions : * v3.5.3

## Screenshots (if applicable)
![image](https://user-images.githubusercontent.com/55283261/198307324-768fe407-fda4-4862-a3be-03c

[2022-10-31 14:42] Ah-ahmed2022 opened #218 "Method App\Mail\RepoTestMail::build() does not exist"
Method App\Mail\RepoTestMail::build() does not exist when trying to create new mail on laravel 9

[2022-10-31 14:46] ReeceM commented on #218
Hi is this in the latest version of Laravel 9?

Would you be able to give the exact version of Laravel 9 or create a simple repo to reproduce this issue as it will make it quicker to resolve. I do think that the new version of the mail system changed, but I don't think they deprecated the method.

[2022-10-31 14:47] ReeceM commented on #216
Hi there, does this only happen when you use the button or on most of the markdown components that have the `>` character?

[2022-10-31 14:55] Ah-ahmed2022 commented on #218
Hello, laravel 9.37.0

On the maileclipse/mailables page Add mailable this will generate RepoTestMai.php without  public function build() because it is replaced by public function content() so I thing something need to be updated
Thank

[2022-10-31 14:56] Ah-ahmed2022 commented on #218
namespace App\Mail;

use Illuminate\Bus\Queueable;
use Illuminate\Contracts\Queue\ShouldQueue;
use Illuminate\Mail\Mailable;
use Illuminate\Mail\Mailables\Content;
use Illuminate\Mail\Mailables\Envelope;
use Illuminate\Queue\SerializesModels;

class RepoTestMail extends Mailable
{
    use Queueable, SerializesModels;

    /**
     * Create a new message instance.
     *
     * @return void
     */

[2022-10-31 14:58] ReeceM commented on #218
Yes so that is what I am suspecting about the changes have / will be causing this issue.

Thank you for creating an issue about it, will have to have a look at how this can be corrected

[2022-10-31 15:39] mtmSchoenberger commented on #216
If i cllick on update this payload is send to the server:
![image](https://user-images.githubusercontent.com/55283261/199048134-d4ac5353-3f4c-488f-bf76-bd96eb166f04.png)

[2022-10-31 19:16] ReeceM commented on #216
Thank you @mtmSchoenberger I'll have a look why this is happening again as we did resolve a similar issue with the conversion of some characters to those HTML characters

[2022-10-31 19:39] ReeceM commented on #216
So I am trying to reproduce this and it's not giving me the same issue, are you able to maybe create a simplified repository that has the same issues you are having and link it here?

[2022-11-03 13:04] Qoraiche commented on #218
Hello @ReeceM, thanks for working on the fix,

It seems like many changes have been done to the mailable structure since laravel [v9.37.0](https://github.com/laravel/framework/blob/9.x/CHANGELOG.md#v9370---2022-10-25), a new property and method (Content) on the mailable content class added to supply a raw HTML string, also to provide the view with data; (checkout the PR for more info https://githu

[2022-11-03 13:21] ReeceM commented on #218
Hey @Qoraiche,

Sorry I've been slow on updating some things though.

But I was looking into making some adjustments that would allow it to work on both v8 and v9 of Mailable classes as I think you can still use the old way?

[code]

Specifically this part of the MailEclipse class, we could make it call the render method or the build method. Depending on what it is or the Laravel version.

---

Bu

[2022-11-03 13:21] ReeceM commented on #218
Hey @Qoraiche,

Sorry I've been slow on updating some things though.

But I was looking into making some adjustments that would allow it to work on both v8 and v9 of Mailable classes as I think you can still use the old way?

[code]

Specifically this part of the MailEclipse class, we could make it call the render method or the build method. Depending on what it is or the Laravel version.

---

Bu

[2022-11-03 13:28] Qoraiche commented on #218
yes you right we should keep it backward compatible maybe by checking if the built() method is present and callable or not otherwise we use the new content class approach if you have any other idea for a conditional use, you can implement it and we will pair it on the PR code 💡

[2022-11-03 13:29] Qoraiche commented on #218
by the way I'm not quite sure if the built method is completely removed since laravel v9.37

[2022-11-03 14:18] ReeceM commented on #218
That part I'm not sure of myself, when I look at the mailable class that is extended by old and newer mailables. I think it didn't have a parent method before. But all new ones are created without it.

[2022-11-03 14:54] Qoraiche commented on #218
If i recall i think that the build() method is not inherited or extended from another class but its directly called to build the view data using the container.

[code]

Laravel 8:
https://github.com/laravel/framework/blob/36c2292735de11ea927b007cccb5be93ab2ad020/src/Illuminate/Mail/Mailable.php#L254

But here in laravel 9.x it still supported if its present in the mailable class:
https://github.co

[2022-11-03 15:08] ReeceM commented on #218
That was the code I saw the other day when I was looking how they handled the older ones :) Forgot where it was 🤣

So I pushed to the fix branch related to this issue an idea to get this implemented. https://github.com/Qoraiche/laravel-mail-editor/tree/218-method-build-does-not-exist

There is a fix for performance that I saw can be done in the same area, will split that to a separate PR

[2022-11-03 15:13] ReeceM commented on #216
Hi there @mtmSchoenberger

Have you been able to create a repo that is having the same issues?

It will help greatly as currently it doesn't look like this is an widespread bug?

[2022-11-03 15:17] ReeceM commented on #165
Hi I am going to close this as the package is installing on Laravel 8 and PHP 8 instances

[2022-11-03 15:17] #165 closed

[2022-11-03 15:22] mtmSchoenberger commented on #216
Hey @ReeceM

Sorry I haven't gotten around to doing a test with a clean Laravel installation yet.
I will have a closer look tomorrow.
I will give you feedback about my test on monday.

### Version 4 is only for Laravel 9 or does this also go in Laravel 8? I have not tested this yet.

[2022-11-03 15:34] ReeceM commented on #216
Sorry my mistake on version 4 being available on both 🤦‍♂️

As and when you can do a test that would be great, thank you 👍

[2022-11-09 11:27] mtmSchoenberger commented on #216
Hey @ReeceM,

I have now tested with a clean installation of Laravel Framework 8.83.26 and MailEclipse package versions v3.5.3 and it works.

Except for the "promotion" element:
`Error: View [promotion] not found. (View: \laravel-mail-editor\resources\views\draft\MtmTestMail.blade.php).`

So it seems to be a problem with compatibility to another package :(
Then I have to search where the problem o

[2022-11-09 11:32] mtmSchoenberger commented on #216
@ReeceM
Are there any known packages that could cause problems with MailEclipse?

[2022-11-09 13:52] Qoraiche commented on #216
thanks for your feedback @mtmSchoenberger, it seems like a conflict with another package, we're not really aware of any other packages that may have compatibility issues with maileclipse, but as a workaround, you can register a new component for the promotion and start using it in the mailable view template.

[2022-11-09 18:03] ReeceM commented on #216
The only package that I know had issues was the Scout Melliesearch package. That was a db isssue.

I had the issue you having the other day with just a normal app without the package. If you can confirm the view exists sometimes it's a view cache issue. composer dumpautoload sorts it sometimes.

But let me know if that sorts it. If not I'll spin up a copy of laravel 8 to test tonight

[2022-11-10 09:56] mtmSchoenberger commented on #216
The error with the "promotion" component is due to the fact that as of Laravel 7 the "promotion" component has been removed. [Source](https://sam-ngu.medium.com/laravel-mail-markdown-components-list-293fbca048f).
In "\vendor\laravel\framework\src\Illuminate\Mail\resources\views\html" are also only button, panel and table no promotion component.

This means that you must either remove the button in

[2022-11-10 10:00] ReeceM commented on #216
Oh yes! I forgot that as I never noticed as I had exported the html for the mailables and notifications in my own app.

I wasn't able to get around to looking into this in an example app last night, but I am looking at it now so will get you some feedback in a bit

[2022-11-10 10:19] ReeceM commented on #216
Hi @mtmSchoenberger I have setup an example app with laravel 8 and have test, I am not getting this error?

Not sure if it is a system settings issue or so. But I am linking the repo here, please could you clone and run it locally to see if you get the same issues

https://github.com/ReeceM/test-issue-216-pacakge

You'll just need to setup a default database. Even sqlite is okay for now with this

[2022-11-10 13:38] mtmSchoenberger commented on #216
Hey @ReeceM,
which PHP version do you use?
I use PHP v8.1.

I have installed your repo locally and was able to create templates even with buttons. Only the "promotion" problem is still there.

That means something in my main installation collides with the email editor. :(

I'll keep researching the problem and give feedback when I find a solution.

[2022-11-10 14:08] ReeceM commented on #216
Hi @mtmSchoenberger

I'm currently running PHP8.0 on my computer.

For the promotion component, if you create it in the directory structure Laravel exports the mail components it should find that from the frameworks side.

Are you able then to create a repo of a Laravel app. Then add the dependencies you use one by one till it dies?

Then could you push that? Even if it's a fork of the repo I link

[2022-11-10 16:07] mtmSchoenberger commented on #216
I have now fixed the problem temporarily by customizing the MailablesController and the MailablesPreviewController.

That works for now.

I have investigated this and found that "Request" changes.
If I use ` $request->markdown` I get the markdown with the error but if I use ` $request->getContent()` I get the json string without error. So there must be some package filtering the JSON request.

[co

[2022-11-10 20:53] ReeceM commented on #216
That is interesting and odd at the same time. Would you be able to share a list of the devDependencies and dependencies you have in the composer.json of your app where MailEclipse is installed?

---

Another note, does changing the call to `$request->input('markdown')` produce the same bug? Also if this is a consistent fix and you have time please feel free to make a PR.

[2022-11-14 02:31] g0rath0r commented on #218
#218 also produces error:
[2022-11-14 02:26:23] local.ERROR: Attempt to read property "viewData" on string {"userId":1,"exception":"[object] (ErrorException(code: 0): Attempt to read property \"viewData\" on string at J:\\xampp8.1\\htdocs\\tools.plantica.pl\\vendor\\qoraiche\\laravel-mail-editor\\src\\MailEclipse.php:716)

Maybe it's not elegant but these where work for me:

    public static func

[2022-11-14 06:04] ReeceM commented on #218
@g0rath0r thanks for the suggestion. I'm sure a fix doesn't have to be pretty 😁

When you say #218 isn't working is that the PR you are talking about?

[2022-11-15 13:25] mtmSchoenberger commented on #216
Hey @ReeceM,

I have found the Problem.
I used this package: stevebauman/purify
There was a middleware which cleaned the request:

[code]

I remove the middleware  from Kernel.php and the e-mail editor works perfect.

So it was my fault not a fault in the package.
This issues can be closed.

[2022-11-15 13:27] ReeceM commented on #216
Hi @mtmSchoenberger thanks for the feedback and also finding what was causing issues for you.

I do think we can keep the issue open, as what you did to fix it can possibly done across the package to make sure we use the input / getContent methods if the package doesn't interfere with those

[2022-11-17 21:27] ReeceM commented on #218
Hi everyone,

Sorry it's taking a bit of time getting this patched. I'm making some progress in making this backward compatible as I suspect a majority of users have their old mail ales mixed with new ones.

[2022-11-19 13:57] ReeceM commented on #218
Would it be possible for those who have been experiencing this bug please test out the dev branch with the fix

Its located here

[code]

And if you could give feedback that would be great.

[2022-11-21 14:36] #218 closed

[2022-11-21 14:42] ReeceM commented on #218
Hi everyone, please update to v4.0.4 as this should fix the issue. Many thanks for your patience